body {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  min-width: 320px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
}
body h1.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  font-size: 2em;
  border-width: 0;
}
@media (max-width: 767px) {
  html.mobile-html {
    overflow: hidden!important;
  }
}
a {
  color: #337ab7;
}
ul,
ol {
  padding: 10px 20px;
}
.panel-body hr {
  margin: 30px 0;
}
#block-system-main-menu {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
}
.input-group .form-control {
  z-index: 0;
}
.input-group .form-control:focus {
  z-index: 0;
}
#first-time {
  display: none;
}
.cart-block {
  margin-top: 13px;
}
.cart-block .quantity-header {
  color: white;
  padding: 0 6px;
  background-color: #e31637;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 2px;
  font-size: 14px;
}
.cart-block img {
  margin-bottom: -3px;
}
.cart-block svg {
  margin-left: 30px;
}
.account-block {
  padding-right: 15px;
  border-right: 1px solid #0078ab;
  margin-top: 15px;
}
.account-block .account-dropdown .btn {
  background-color: transparent;
  color: #087792;
  padding-top: 0;
}
.account-block .account-dropdown .btn:focus {
  box-shadow: none;
}
.account-block .account-dropdown .caret {
  margin-left: 10px;
  color: #087792;
}
.account-block .account-dropdown span {
  color: #087792;
}
a {
  color: #26292d;
}
#header {
  padding: 14px 15px 16px 15px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
.block-search {
  width: 50%!important;
  float: left!important;
  border-radius: 2px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-top: 19px;
  margin-bottom: 10px;
  padding: 0 8px;
}
@media (max-width: 767px) {
  .block-search {
    margin-bottom: 35px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .block-search {
    width: 37%!important;
  }
}
.block-search .input-group {
  width: 100%;
}
.block-search .btn-primary {
  display: none;
}
.block-search .form-text {
  padding: 12px 30px 12px 38px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  border: 1px solid #abb4bf;
  width: 100%;
  -webkit-appearance: none;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  min-height: 48px;
}
.block-search .form-actions {
  position: absolute;
  margin: 5px 6px;
  z-index: 1000;
  left: 0;
  right: auto;
  top: 5px;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 29px;
  background: url(../images/search-icon.svg) no-repeat;
}
.block-search .ui-autocomplete-field-nothing .row {
  margin: 0 0;
}
.block-search .ui-autocomplete-field-nothing .category-search {
  margin-top: 10px;
  color: #ccc;
}
.block-search .ui-autocomplete-field-nothing .category-search a {
  color: #ccc;
}
.block-search .ui-autocomplete-field-nothing .strike {
  text-decoration: line-through;
  float: left;
  color: red;
}
.block-search .ui-autocomplete-field-nothing .not-strike {
  float: left;
  padding-left: 5px;
}
.custom-blocks {
  margin-top: 15px;
}
.tb-megamenu {
  background-color: transparent;
}
@media (max-width: 738px) {
  .tb-megamenu .nav-collapse.collapse.in {
    overflow: scroll!important;
  }
}
.tb-megamenu .tb-megamenu-nav > li.show-mobile {
  display: none;
}
.tb-megamenu .tb-megamenu-nav > li > a {
  color: #111111 !important;
  background-color: transparent !important;
  border-width: 0;
  font-weight: 400;
  font-size: 16px;
}
.tb-megamenu .tb-megamenu-nav > li > a:hover,
.tb-megamenu .tb-megamenu-nav > li > a.active,
.tb-megamenu .tb-megamenu-nav > li > a:focus,
.tb-megamenu .tb-megamenu-nav > li > a.tb-megamenu-click {
  color: #ffb600 !important;
  background-color: #eeeeee !important;
}
.tb-megamenu .tb-megamenu-nav > li > a.store_specials:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 65 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M64.994,31.721 L32.844,63.84 C31.301,65.383 28.797,65.383 27.253,63.84 L2.092,38.705 C0.548,37.163 0.548,34.663 2.092,33.118 L34.242,0.999 L65,0.996 L64.994,31.721 Z M35.641,5.189 L6.286,34.515 C5.515,35.286 5.515,36.536 6.286,37.307 L28.651,59.65 C29.423,60.421 30.674,60.421 31.447,59.65 L60.801,30.323 L61,4.998 L35.641,5.189 Z M43.29,22.681 C40.153,19.548 40.153,14.466 43.29,11.333 C46.428,8.198 51.514,8.198 54.65,11.333 C57.787,14.466 57.787,19.548 54.65,22.681 C51.513,25.814 46.428,25.813 43.29,22.681 Z M51.873,14.105 C50.305,12.539 47.762,12.539 46.193,14.105 C44.625,15.672 44.625,18.212 46.193,19.781 C47.761,21.348 50.304,21.348 51.873,19.781 C53.441,18.213 53.441,15.673 51.873,14.105 Z M13.275,38.705 L16.07,35.91 L30.049,49.875 L27.253,52.668 L13.275,38.705 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tb-megamenu .tb-megamenu-nav > li > a.store_specials:before {
    display: none;
  }
}
.tb-megamenu .tb-megamenu-nav > li > a.store_specials:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 65 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M64.994,31.721 L32.844,63.84 C31.301,65.383 28.797,65.383 27.253,63.84 L2.092,38.705 C0.548,37.163 0.548,34.663 2.092,33.118 L34.242,0.999 L65,0.996 L64.994,31.721 Z M35.641,5.189 L6.286,34.515 C5.515,35.286 5.515,36.536 6.286,37.307 L28.651,59.65 C29.423,60.421 30.674,60.421 31.447,59.65 L60.801,30.323 L61,4.998 L35.641,5.189 Z M43.29,22.681 C40.153,19.548 40.153,14.466 43.29,11.333 C46.428,8.198 51.514,8.198 54.65,11.333 C57.787,14.466 57.787,19.548 54.65,22.681 C51.513,25.814 46.428,25.813 43.29,22.681 Z M51.873,14.105 C50.305,12.539 47.762,12.539 46.193,14.105 C44.625,15.672 44.625,18.212 46.193,19.781 C47.761,21.348 50.304,21.348 51.873,19.781 C53.441,18.213 53.441,15.673 51.873,14.105 Z M13.275,38.705 L16.07,35.91 L30.049,49.875 L27.253,52.668 L13.275,38.705 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.tb-megamenu .tb-megamenu-nav > li > a.customer_support:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 64 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M52,48.993 L51.999,64.993 L34.398,48.993 L12,48.993 C5.372,48.993 0,45.622 0,38.994 L0,12.993 C0,6.367 5.372,0.994 12,0.994 L51.999,0.994 C58.627,0.994 64,6.366 64,12.993 L64,36.995 C64,43.622 58.627,48.993 52,48.993 Z M59.999,12.993 C59.999,8.576 56.418,4.993 51.999,4.993 L12,4.993 C7.581,4.993 3.999,8.575 3.999,12.993 L3.999,38.994 C3.999,43.413 7.581,44.994 12,44.994 L35.999,44.994 L47.999,56.103 L47.999,44.994 L51.999,44.994 C56.418,44.994 59.999,41.413 59.999,36.995 L59.999,12.993 Z M45.999,20.993 L17.999,20.993 C16.895,20.993 15.999,20.097 15.999,18.994 C15.999,17.89 16.895,16.994 17.999,16.994 L45.999,16.994 C47.103,16.994 47.999,17.89 47.999,18.994 C47.999,20.098 47.104,20.993 45.999,20.993 Z M21.999,28.994 L41.999,28.994 C43.104,28.994 43.999,29.89 43.999,30.995 C43.999,32.099 43.104,32.994 41.999,32.994 L21.999,32.994 C20.895,32.994 19.999,32.099 19.999,30.995 C19.999,29.889 20.896,28.994 21.999,28.994 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tb-megamenu .tb-megamenu-nav > li > a.customer_support:before {
    display: none;
  }
}
.tb-megamenu .tb-megamenu-nav > li > a.customer_support:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 64 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M52,48.993 L51.999,64.993 L34.398,48.993 L12,48.993 C5.372,48.993 0,45.622 0,38.994 L0,12.993 C0,6.367 5.372,0.994 12,0.994 L51.999,0.994 C58.627,0.994 64,6.366 64,12.993 L64,36.995 C64,43.622 58.627,48.993 52,48.993 Z M59.999,12.993 C59.999,8.576 56.418,4.993 51.999,4.993 L12,4.993 C7.581,4.993 3.999,8.575 3.999,12.993 L3.999,38.994 C3.999,43.413 7.581,44.994 12,44.994 L35.999,44.994 L47.999,56.103 L47.999,44.994 L51.999,44.994 C56.418,44.994 59.999,41.413 59.999,36.995 L59.999,12.993 Z M45.999,20.993 L17.999,20.993 C16.895,20.993 15.999,20.097 15.999,18.994 C15.999,17.89 16.895,16.994 17.999,16.994 L45.999,16.994 C47.103,16.994 47.999,17.89 47.999,18.994 C47.999,20.098 47.104,20.993 45.999,20.993 Z M21.999,28.994 L41.999,28.994 C43.104,28.994 43.999,29.89 43.999,30.995 C43.999,32.099 43.104,32.994 41.999,32.994 L21.999,32.994 C20.895,32.994 19.999,32.099 19.999,30.995 C19.999,29.889 20.896,28.994 21.999,28.994 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.tb-megamenu .tb-megamenu-nav > li > a.bulk_orders:before {
  background: url(../images/bulk_orders.svg) no-repeat;
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tb-megamenu .tb-megamenu-nav > li > a.bulk_orders:before {
    display: none;
  }
}
.tb-megamenu .tb-megamenu-nav > li[data-class='products'] > a:before {
  background: url(../images/products.svg) no-repeat;
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tb-megamenu .tb-megamenu-nav > li[data-class='products'] > a:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .tb-megamenu .tb-megamenu-nav > li[data-class='products'].open .tb-megamenu-column {
    display: block!important;
    height: 300px;
  }
}
.tb-megamenu .tb-megamenu-nav > li .mega-inner {
  padding-top: 0;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu {
  background-color: #eeeeee;
  min-height: 450px;
  border-width: 0;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner {
  max-width: 1140px;
  margin: 0 auto;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner .block-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-top: 45px;
  text-transform: none;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner ul li {
  width: 100%;
  margin-bottom: 10px;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner ul li a {
  margin: 0 0!important;
  text-transform: none;
}
/* homepage styling */
#page {
  padding: 0 0;
}
#page #region_slider .block-title {
  display: none;
}
#page #region_slider .hero_image {
  background-color: #073058;
  min-height: 400px;
  color: white;
  margin-bottom: 0;
}
#page #region_slider .hero_image h2 {
  margin-top: 115px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
#page #region_slider .hero_image h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  max-width: 305px;
  margin-top: 20px;
}
#page #region_slider .hero_image .get-started a {
  margin-top: 35px;
  display: inline-block;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px 5px;
  font-size: 20px;
  line-height: 20px;
  color: #0F4A5B;
  font-weight: 600;
}
#page #region_slider .hero_image .slick-slide {
  background-position: right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}
@media (max-width: 991px) {
  #page #region_slider .hero_image .slick-slide {
    background-image: none!important;
  }
}
#page #region_slider .hero_image .slick-dots {
  text-align: left;
  margin: -35px auto 0 auto;
  padding-left: 15px;
  position: relative;
  bottom: 0;
}
@media (min-width: 768px) {
  #page #region_slider .hero_image .slick-dots {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  #page #region_slider .hero_image .slick-dots {
    width: 970px !important;
  }
}
@media (min-width: 1200px) {
  #page #region_slider .hero_image .slick-dots {
    width: 1170px !important;
  }
}
#page #region_slider .hero_image .slick-dots li.slick-active button:before {
  color: white;
  font-size: 15px;
  border: none;
  top: 3px;
}
#page #region_slider .hero_image .slick-dots li button:before {
  border: 1px solid white;
  border-radius: 50% 50%;
  position: relative;
  font-size: 12px;
}
#page #region_slider .promotions {
  background-color: #005498;
}
#page #region_slider .promotions .promotion {
  color: white;
  margin-top: 23px;
  margin-bottom: 23px;
  border-right: 3px solid white;
}
#page #region_slider .promotions .promotion:last-child {
  border-width: 0;
}
@media (max-width: 991px) {
  #page #region_slider .promotions .promotion {
    border-width: 0;
  }
}
#page #region_slider .promotions .promotion h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 5px;
}
#page #region_slider .promotions .promotion a {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: white;
}
/* shop by category */
#block-views-shop-by-category-block-1 {
  padding: 45px 15px 0;
}
@media (max-width: 767px) {
  #block-views-shop-by-category-block-1 {
    padding: 0;
  }
}
#block-views-shop-by-category-block-1 h2.block-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #434343;
  border-width: 0;
  font-family: inherit;
  padding-bottom: 0;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  #block-views-shop-by-category-block-1 h2.block-title {
    font-size: 24px;
    text-align: center;
    border: none;
    padding: 8px 0px;
    margin: 0;
  }
}
#block-views-shop-by-category-block-1 .view-content {
  display: inline-block;
  width: 100%;
  margin-bottom: 100px;
}
@media (max-width: 480px) {
  #block-views-shop-by-category-block-1 .view-content {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
#block-views-shop-by-category-block-1 .views-row {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  min-height: 146px;
  float: left;
}
@media (max-width: 767px) {
  #block-views-shop-by-category-block-1 .views-row {
    width: 100%;
  }
}
#block-views-shop-by-category-block-1 .views-row a {
  color: #444;
  font-size: 15px;
  font-weight: 500;
}
#block-views-shop-by-category-block-1 .views-row .views-field-uc-catalog-image a {
  height: 150px;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #block-views-shop-by-category-block-1 .views-row .views-field-uc-catalog-image a {
    height: 120px;
  }
}
#block-views-shop-by-category-block-1 .views-row .views-field-uc-catalog-image a img {
  min-height: 1px !important;
  min-width: 1px !important;
  margin: 0 auto;
  max-height: 150px;
  max-width: 150px;
  border-radius: 50% 50%;
}
@media (max-width: 991px) {
  #block-views-shop-by-category-block-1 .views-row .views-field-uc-catalog-image a img {
    max-height: 120px;
    max-width: 120px;
    min-width: 1px;
  }
}
#block-block-2 .block-title {
  display: none;
}
#block-block-2 .free-shipping {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 70px 0;
}
#block-block-2 .free-shipping p {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  color: #3f3f3f;
}
#block-block-2 .free-shipping p span {
  font-weight: 600;
}
#main-content section {
  max-width: 100%;
}
.custom-show-menu {
  display: none !important;
}
#header {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  #header.mobile-header {
    background-color: #073058;
    box-shadow: none !important;
  }
  #header.mobile-header .tb-megamenu {
    background-color: #073058;
  }
  #header.mobile-header .tb-megamenu .btn-navbar {
    color: white!important;
    font-size: 25px!important;
  }
  #header.mobile-header .tb-megamenu .btn-navbar .fa-reorder:before {
    content: "\f00d";
  }
  #header.mobile-header .cart-block {
    display: none;
  }
  #header.mobile-header .site-logo {
    display: none;
  }
  #header.mobile-header .site-logo-mobile {
    display: block!important;
  }
}
#header .region-header #block-system-main-menu {
  display: block!important;
}
@media (max-width: 767px) {
  #header .region-header #block-system-main-menu {
    z-index: 1!important;
    top: 40px!important;
    left: 10px!important;
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #header .region-header #block-delta-blocks-logo {
    z-index: 2;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 30px;
  }
  #header .region-header #block-delta-blocks-logo img {
    max-width: 150px;
  }
  #header .region-header #block-search-form {
    z-index: 2;
    margin-right: 0;
  }
  #header .region-header .custom-blocks {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
  }
  #header .region-header .custom-blocks .account-block {
    margin-top: 5px;
    display: none;
  }
  #header .region-header .tb-megamenu .btn-navbar {
    color: #073058;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    padding: 0 0;
    font-size: 30px;
    border-width: 0;
    text-shadow: none;
    margin-left: 13px;
  }
  #header .region-header .tb-megamenu .btn-navbar:focus {
    outline: none;
  }
}
@media (max-width: 534px) {
  #header .region-header #block-delta-blocks-logo {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0;
    margin-left: calc( ( 100% - 200px ) / 2) !important;
    margin-left: -webkit-calc( ( 100% - 200px ) / 2) !important;
    margin-left: -moz-calc( ( 100% - 200px ) / 2) !important;
    margin-left: -ms-calc( ( 100% - 200px ) / 2) !important;
    max-width: 200px;
    padding-right: 15px!important;
    border-width: 0;
  }
  #header .region-header #block-delta-blocks-logo .logo-img {
    text-align: center;
  }
  #header .region-header #block-delta-blocks-logo .logo-img img {
    max-width: 100%;
    height: auto;
  }
  #header .region-header #block-search-form {
    width: 100%!important;
  }
  #header .region-header #block-system-main-menu {
    top: 35px!important;
  }
}
@media (max-width: 450px) {
  #header .region-header #block-search-form {
    margin-left: 0px;
  }
  #header .region-header .custom-blocks .cart-block {
    margin-right: -5px;
    margin-top: 20px;
  }
  #header .region-header #block-system-main-menu {
    top: 53px!important;
  }
  #header .region-header #block-delta-blocks-logo {
    padding-left: 0!important;
    width: auto!important;
  }
}
/* nav collapse */
@media (max-width: 800px) and (min-width: 768px) {
  .tb-megamenu .nav > li > a {
    padding: 15px 10px;
  }
}
@media (max-width: 767px) {
  .tb-megamenu .nav-collapse {
    background-color: #073058;
    margin-left: -10px;
  }
  .tb-megamenu .nav-collapse .nav {
    min-height: 100vh;
    display: block;
    border-right: 0;
    border-left: 0;
  }
  .tb-megamenu .nav-collapse .nav > li {
    border-width: 0!important;
    position: relative;
    z-index: 2;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .tb-megamenu .nav-collapse .nav > li.show-mobile {
    display: block;
    margin: 0 15px;
    padding: 8px 0;
  }
  .tb-megamenu .nav-collapse .nav > li.show-mobile.first-mobile a:before {
    border-top: 1px solid white;
    display: block;
    width: 75px;
    height: 2px;
    margin-bottom: 15px;
  }
  .tb-megamenu .nav-collapse .nav > li.show-mobile .dropdown-menu ul li a {
    border-width: 0 !important;
  }
  .tb-megamenu .nav-collapse .nav > li > a {
    border-width: 0;
    color: white!important;
    font-weight: 400;
  }
  .tb-megamenu .nav-collapse .nav > li > a:hover,
  .tb-megamenu .nav-collapse .nav > li > a:focus,
  .tb-megamenu .nav-collapse .nav > li > a.tb-megamenu-click {
    color: #ffb600 !important;
    background-color: transparent!important;
  }
  .tb-megamenu .nav-collapse .nav > li > a.dropdown-toggle:after {
    content: "\f105";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 15px;
  }
  .tb-megamenu .nav-collapse .nav > li.open.dropdown {
    position: absolute;
    top: 1px;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: #073058;
  }
  .tb-megamenu .nav-collapse .nav > li.open.dropdown > a.dropdown-toggle:after {
    content: "\f104";
    font-family: 'FontAwesome', sans-serif;
    margin-right: 15px;
    float: left;
    margin-left: 0;
  }
  .tb-megamenu .nav-collapse .nav > li .dropdown-menu {
    min-height: 100vh;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    list-style: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #073058;
  }
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu {
    background-color: transparent;
    min-height: 1px;
    border-width: 0;
  }
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner {
    max-width: 1140px;
    margin: 0 auto;
  }
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-category ul li,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-brand ul li,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-views-best-sellers-block ul li {
    width: 100%;
    margin-bottom: 0px;
    border-width: 0!important;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-category ul li a,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-brand ul li a,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-views-best-sellers-block ul li a {
    margin: 0 0;
    border-width: 0!important;
    padding: 8px 0;
    color: white;
    text-transform: none!important;
  }
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-category a,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-brand a,
  .tb-megamenu .nav-collapse .nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-views-best-sellers-block a {
    border-width: 0!important;
  }
}
@media (max-width: 767px) and (max-width: 534px) {
  .tb-megamenu .nav-collapse {
    margin-top: 89px;
  }
}
.not-front.page-node #columns {
  max-width: 100%!important;
  padding: 0 0!important;
  margin: 0 0!important;
}
.not-front.page-node #columns #content-column {
  padding: 0 0!important;
  margin: 0 0!important;
}
.not-front.page-node #columns #content-column #main-content {
  padding: 0 0!important;
}
.page-node #main-content .container-fluid .row .container .row {
  margin-top: 55px;
  margin-bottom: 55px;
}
.page-node #main-content .container-fluid .row .container .row .btn-primary {
  background-color: #7cc047;
  background-image: none;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
}
.page-node #main-content .container-fluid .row .container .row .btn-primary:hover {
  background-color: rgba(124, 192, 71, 0.8);
}
.page-node #main-content .container-fluid .row .container .row h3 {
  color: #017dc5;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 30px;
}
.page-node #main-content .container-fluid .row .container .row p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}
.page-node #main-content .container-fluid .row.after-header {
  border-bottom: 1px solid #eeeeee;
}
.page-node #main-content .container-fluid .row.after-header .row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-node #main-content .container-fluid .row.with-back {
  background-color: #efefef;
}
.page-node #main-content .container-fluid .row.blue-back {
  background-color: #007DC3;
  color: #AAD4EC;
}
.page-node #main-content .container-fluid .row.blue-back .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-node #main-content .container-fluid .row.blue-back .row p:first-child {
  margin-bottom: 0;
  font-size: 18px;
}
.page-node #main-content .container-fluid .row.blue-back .row p:first-child a {
  margin-left: 10px;
}
.front #content {
  margin-top: 40px;
}
.front h2 a {
  color: #404040;
  font-size: 32px;
  margin-bottom: 30px;
  display: block;
}
@media (max-width: 767px) {
  .front .content-column .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .front .view-shop-by-category a {
    padding: 10px 22px 12px 17px;
    height: 100%;
    display: block;
    line-height: 1.3;
  }
}
#footer {
  border-width: 0;
  padding: 0 0;
}
#footer .region-footer {
  padding: 0 0!important;
  max-width: 100%;
  margin-left: 0!important;
  margin-right: 0!important;
}
#footer .region-footer #block-block-3,
#footer .region-footer #block-block-4,
#footer .region-footer #block-menu-menu-footer-menu {
  width: 100%;
  padding-bottom: 0!important;
}
#footer .region-footer #block-block-3 .block-title,
#footer .region-footer #block-block-4 .block-title,
#footer .region-footer #block-menu-menu-footer-menu .block-title {
  display: none;
}
#footer .region-footer #block-block-3 .block-content,
#footer .region-footer #block-block-4 .block-content,
#footer .region-footer #block-menu-menu-footer-menu .block-content {
  padding: 0 0!important;
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back {
  background-color: #007DC3;
  color: #AAD4EC;
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row .btn-primary,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row .btn-primary,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row .btn-primary {
  background-color: #7cc047;
  background-image: none;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row .btn-primary:hover,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row .btn-primary:hover,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row .btn-primary:hover {
  background-color: rgba(124, 192, 71, 0.8);
}
@media (max-width: 650px) {
  #footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row .btn-primary,
  #footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row .btn-primary,
  #footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row .btn-primary {
    margin-top: 20px;
  }
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row p:first-child,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row p:first-child,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row p:first-child {
  margin-bottom: 0;
  font-size: 18px;
}
#footer .region-footer #block-block-3 .block-content .container-fluid .row.blue-back .row p:first-child a,
#footer .region-footer #block-block-4 .block-content .container-fluid .row.blue-back .row p:first-child a,
#footer .region-footer #block-menu-menu-footer-menu .block-content .container-fluid .row.blue-back .row p:first-child a {
  margin-left: 10px;
}
#footer .menu.nav {
  padding: 25px 15px 20px;
  border-top: 1px solid #EEEEEE;
  margin: 0 auto;
  color: #7EBBE6;
}
@media (min-width: 1200px) {
  #footer .menu.nav {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #footer .menu.nav {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #footer .menu.nav {
    width: 750px;
  }
}
.blue-back {
  background-color: #007DC3;
  color: #AAD4EC;
}
.blue-back .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.blue-back .row p {
  font-size: 18px;
}
.blue-back .btn-primary {
  background-color: #7cc047;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}
.copyrights {
  background-color: #E4E4E4;
  color: #555555;
}
.copyrights .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.copyrights p {
  font-size: 13px;
}
.copyrights span {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.copyrights a {
  color: #7EBBE6;
  margin-left: 10px;
}
.footer {
  margin-top: 0;
}
.footer .dropdown-toggle {
  display: none;
}
@media (min-width: 480px) {
  .footer .menu.nav li.expanded {
    float: left;
    width: 25%;
    margin: 0;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .footer .menu.nav li.expanded {
    margin-bottom: 20px;
  }
}
.footer .menu.nav li.expanded a {
  color: #7EBBE6 !important;
}
.footer .menu.nav li.expanded .leaf-block .leaf {
  font-size: 15px;
}
a:hover,
a:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .page .container {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  .page .container {
    width: 970px!important;
  }
}
@media (min-width: 1200px) {
  .page .container {
    width: 1170px!important;
  }
}
.page .container .container-fluid {
  width: 100%!important;
}
#block-block-4 {
  background-color: white;
}
#block-block-4 #social {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px 0;
}
#block-block-4 #social p {
  float: left;
  margin-right: 50px;
}
#block-block-4 #social p:last-child {
  margin-right: 0;
}
#block-block-4 #social p a {
  margin-left: 10px;
  color: #7EBBE6;
  margin-top: 10px;
  display: block;
  float: left;
}
#block-block-4 #social p a:hover {
  color: rgba(126, 187, 230, 0.8);
}
#block-block-4 #social p img {
  float: left;
  border-radius: 50% 50%;
}
@media (max-width: 767px) {
  #block-block-4 #social p {
    width: 50%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 450px) {
  #block-block-4 #social p {
    width: 100%;
  }
}
#block-menu-menu-footer-menu {
  background-color: white;
}
#block-menu-menu-footer-menu .block-content {
  margin: 0 auto;
  color: #7EBBE6;
}
@media (min-width: 768px) {
  #block-menu-menu-footer-menu .block-content {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  #block-menu-menu-footer-menu .block-content {
    width: 970px!important;
  }
}
@media (min-width: 1200px) {
  #block-menu-menu-footer-menu .block-content {
    width: 1170px!important;
  }
}
#block-menu-menu-footer-menu .block-content ul.menu {
  padding: 20px 0px;
  border-top: 1px solid #EEEEEE;
}
#block-menu-menu-footer-menu .block-content ul li {
  color: #7EBBE6 !important;
}
#block-menu-menu-footer-menu .block-content ul li ul.menu {
  padding: 0 0;
  border-width: 0;
}
#block-menu-menu-footer-menu .block-content ul li a {
  color: #7EBBE6 !important;
}
#block-menu-menu-footer-menu .block-content ul li a:hover {
  color: rgba(126, 187, 230, 0.8);
}
#block-menu-menu-footer-menu .block-content ul li.menu-depth-1 {
  float: left;
  width: 25%;
  margin: 0 0!important;
}
#block-menu-menu-footer-menu .block-content ul li.menu-depth-1 span {
  display: none;
}
@media (max-width: 767px) {
  #block-menu-menu-footer-menu .block-content ul li.menu-depth-1 {
    width: 50%;
    margin-bottom: 20px!important;
  }
}
@media (max-width: 657px) {
  #block-menu-menu-footer-menu .block-content ul li.menu-depth-1 {
    width: 100%;
  }
}
#block-menu-menu-footer-menu .block-content ul li.menu-depth-2 span {
  display: block;
}
.block-region-footer.block-5 {
  display: block!important;
  width: 100%!important;
  padding-bottom: 0!important;
}
.block-region-footer.block-5 .block-title {
  display: none;
}
.block-region-footer.block-5 .block-content {
  padding: 0 0!important;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights {
  background-color: #E4E4E4;
  color: #555555;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row a {
  color: #7EBBE6 !important;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row a:hover {
  color: rgba(126, 187, 230, 0.8);
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row p:first-child {
  margin-bottom: 0;
  font-size: 13px;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row p:first-child a {
  margin-left: 10px;
}
.block-region-footer.block-5 .block-content .container-fluid .row.copyrights .row p:first-child span {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
/* contact form */
.contact-content .row {
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}
.contact-content h3 {
  text-align: center;
  color: #000000 !important;
}
.contact-content h4 {
  margin-bottom: 20px;
}
.contact-content p {
  margin-bottom: 20px;
}
.contact-content .left-description p {
  max-width: 300px;
}
@media (max-width: 600px) {
  .contact-content .left-description p {
    max-width: 100%;
  }
}
.contact-content .left-description a {
  color: #017dc5 !important;
}
.contact-content .left-description a:hover {
  color: rgba(1, 125, 197, 0.8);
}
.contact-content .node-webform .submitted {
  display: none;
}
.contact-content .node-webform .webform-client-form-4 .webform-progressbar {
  display: none;
}
.contact-content .node-webform .webform-client-form-4 .form-item {
  width: 50%;
  float: left;
  padding-right: 15px;
}
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--what-service-are-you-writing-about,
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--comments {
  width: 100%;
}
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--province,
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--last-name,
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--telephone-number,
.contact-content .node-webform .webform-client-form-4 .form-item.webform-component--comments {
  padding-right: 0;
}
.contact-content .node-webform .webform-client-form-4 .form-item label {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 14px;
}
.contact-content .node-webform .webform-client-form-4 .form-item label .form-required {
  color: #7DC047;
}
.contact-content .node-webform .webform-client-form-4 .form-item select {
  width: 100%;
  height: 50px;
}
.contact-content .node-webform .webform-client-form-4 .form-item select#edit-submitted-what-service-are-you-writing-about {
  width: 50%;
}
@media (max-width: 600px) {
  .contact-content .node-webform .webform-client-form-4 .form-item select#edit-submitted-what-service-are-you-writing-about {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .contact-content .node-webform .webform-client-form-4 .form-item {
    width: 100%;
  }
}
.contact-content .node-webform .webform-client-form-4 .form-item textarea,
.contact-content .node-webform .webform-client-form-4 .form-item .form-text {
  max-width: 100%;
}
.contact-content .node-webform .webform-client-form-4 .form-actions {
  width: 100%;
  float: left;
}
.contact-content .node-webform .webform-client-form-4 .form-actions .form-submit {
  background-color: #7DC047;
  background-image: none;
  border-width: 0;
  text-transform: uppercase;
  color: white;
  min-height: 45px;
  border-radius: 7px 7px;
  min-width: 170px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: none;
}
.contact-content .node-webform .webform-client-form-4 .form-actions .form-submit:hover {
  background-color: rgba(125, 192, 71, 0.8);
}
#block-system-main-menu .menu a {
  font-size: 15px;
  color: #26292D;
  margin: 0 15px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-category ul li a,
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-brand ul li a,
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-views-best-sellers-block ul li a {
  margin: 0 0;
}
html.js input.form-autocomplete:not(.throbbing):active,
html.js input.form-autocomplete:not(.throbbing):focus {
  background-image: none;
}
html.js input.form-autocomplete.throbbing {
  background-image: url(../images/throbber-active.gif);
  background-position: 98% center;
}
#search-block-form {
  position: relative;
}
.region-footer h2.block-title {
  display: none;
}
.single-product-page {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 480px) {
  .single-product-page .general {
    padding-top: 20px;
  }
}
.single-product-page .general p {
  padding-bottom: 0px;
  font-size: 16px;
  color: #bb0628;
}
.single-product-page .general .uc-price {
  font-size: 38px;
  color: #404040;
  letter-spacing: 0;
  font-weight: 700;
}
.single-product-page .general .uc-price.discounted {
  color: #BB0628;
}
.single-product-page .general .total-price {
  display: inline-block;
}
.single-product-page .general .total-price .sell-price {
  padding-bottom: 0;
  font-weight: 700;
  font-size: 38px;
  color: #BB0628;
  letter-spacing: 0;
  float: left;
}
.single-product-page .general .total-price .sell-price sup {
  font-size: 20px;
  font-weight: 500;
}
.single-product-page .general .total-price .product-unit {
  float: left;
  font-weight: 700;
  font-size: 14px;
  color: #8E8E93;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 25px;
  padding-left: 5px;
}
.single-product-page .general .discount {
  padding-bottom: 30px;
  font-size: 14px;
  color: #8E8E93;
  letter-spacing: 0;
  font-weight: 500;
}
.single-product-page .general .discount span {
  font-size: 14px;
  color: #BB0628;
  letter-spacing: 0;
}
.single-product-page .general .field-name-field-product-discount .field-label {
  display: none;
}
.single-product-page .general .field-name-field-product-discount .field-item {
  margin-bottom: 30px;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
}
.single-product-page .general .field-name-field-product-discount .field-item p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
}
.single-product-page .general .field-name-field-product-discount .field-item ul,
.single-product-page .general .field-name-field-product-discount .field-item ol {
  margin-bottom: 20px;
  padding-left: 0;
}
.single-product-page .general .field-name-field-product-discount .field-item ul li,
.single-product-page .general .field-name-field-product-discount .field-item ol li {
  list-style: none;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
}
.single-product-page .general .on-sale {
  margin-bottom: 15px;
}
.single-product-page .general .on-sale span {
  background-color: #F4EC53;
  font-weight: 700;
  padding: 5px 5px;
  font-size: 12px;
  color: #404040;
  letter-spacing: 0;
}
.single-product-page .general .product-price {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.single-product-page .general .product-title .sku {
  font-size: 14px;
  color: #8E8E93;
  font-weight: 600;
  letter-spacing: 0;
}
.single-product-page .general .stock-level img {
  margin-bottom: -3px;
}
.single-product-page .general .stock-level .in-stock {
  color: #308800;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}
.single-product-page .general .stock-level .out-stock {
  color: #bb0628;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}
.single-product-page .general .field-name-field-product-country-of-origin {
  font-weight: 300;
  margin-bottom: 10px;
}
.single-product-page .general .field-name-field-product-country-of-origin .field-label {
  font-size: 14px;
  color: #8E8E93;
  letter-spacing: 0;
  float: none;
  display: inline-block;
  font-weight: 400;
}
.single-product-page .general .field-name-field-product-country-of-origin .field-items {
  float: none;
  display: inline-block;
  font-weight: 400;
}
.single-product-page .general .field-name-field-product-country-of-origin a {
  color: #0046BE;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 300;
}
.single-product-page h1 {
  line-height: 38px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 32px;
  color: #404040;
  letter-spacing: 0;
}
.single-product-page .tab-details {
  margin-top: 48px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
}
.single-product-page .tab-details .nav-pills {
  padding-top: 45px;
}
.single-product-page .tab-details .nav-pills li {
  border-bottom: 1px solid #ccc;
}
.single-product-page .tab-details .nav-pills li.open > a {
  background-color: #fff;
}
.single-product-page .tab-details .nav-pills li a {
  border-radius: 4px;
  padding: 12px 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #515151;
  border-bottom: 2px solid #fff;
}
.single-product-page .tab-details .nav-pills li a:hover,
.single-product-page .tab-details .nav-pills li a:focus {
  background-color: white;
  color: black;
  border-bottom: 2px solid #000;
  border-radius: 0;
}
.single-product-page .tab-details .nav-pills li.active > a {
  background-color: white;
  color: black;
  border-bottom: 2px solid #000;
  border-radius: 0;
}
.single-product-page .tab-details .tab-content {
  border-left: 1px solid #CCC;
  padding-top: 55px;
  min-height: 400px;
}
.single-product-page .exzoom_img_box {
  max-width: 100%;
}
.single-product-page .exzoom_img_box div,
.single-product-page .exzoom_img_box p {
  max-width: 100%;
}
.single-product-page .exzoom_nav {
  max-width: 100%;
}
.single-product-page .add-to-cart {
  background-color: #EFEFF4;
  border: 1px solid rgba(151, 151, 151, 0.3);
  display: inline-block;
  padding: 40px 25px;
  margin-top: 25px;
  width: 100%;
}
.single-product-page .add-to-cart .form-group {
  margin-bottom: 0;
}
.single-product-page .add-to-cart .form-type-uc-quantity {
  float: left;
  margin-right: 20px;
}
.single-product-page .add-to-cart .form-type-uc-quantity label {
  display: none!important;
}
.single-product-page .add-to-cart .form-type-uc-quantity input {
  background: #FFFFFF;
  border: solid 1px #979797;
  border-radius: 5px;
  /* min-width: 106px; */
  min-height: 43px;
}
.single-product-page .add-to-cart .form-actions {
  float: left;
  clear: none;
}
.single-product-page .add-to-cart .form-actions .uc_out_of_stock_throbbing {
  display: none;
}
.single-product-page .add-to-cart .form-actions input,
.single-product-page .add-to-cart .form-actions button {
  background: #0046BE;
  min-height: 43px;
  border-radius: 5px;
  min-width: 189px;
  outline-width: 0!important;
  text-transform: none;
}
.single-product-page .add-to-cart .form-actions input:hover,
.single-product-page .add-to-cart .form-actions button:hover {
  background: #003da6;
  color: white;
}
.add-to-cart .form-control {
  width: auto !important;
}
.profile {
  padding: 55px 0;
}
.profile h3 {
  border-bottom: 1px solid #ccc;
  font-size: 1.4em;
}
.profile dt {
  margin: 0.7em 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin: 0.3em 0 1em 0;
}
.profile dd a {
  color: #00B4E5;
}
#user-login,
#user-register-form {
  padding: 80px 0;
}
#user-login input,
#user-register-form input {
  min-height: 40px;
  max-width: 500px;
  margin-top: 10px;
}
.node-type-product .sell-price {
  padding-bottom: 10px;
}
.node-type-product .uc-price {
  font-size: 24px;
  font-weight: 700;
}
.node-type-product .uc-price-label {
  display: none;
}
.node-type-product .product-breadcrumb {
  border-bottom: 1px solid #D8D8D8;
}
.node-type-product .product-breadcrumb .breadcrumb {
  padding: 25px 0;
  margin-bottom: 0;
  background-color: transparent;
}
.node-type-product .product-breadcrumb .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #404040;
  content: "\f054";
  font-family: FontAwesome, 'sans-serif';
  -webkit-text-stroke: 1px white;
  font-size: 14px;
  font-weight: bold;
}
.node-type-product .product-breadcrumb .breadcrumb li a {
  font-weight: 400;
  font-size: 14px;
  color: #0046BE;
  letter-spacing: 0;
}
#uc-cart-view-form td.qty {
  min-width: 65px;
}
.category-page .list-description {
  padding: 40px 15px;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}
@media (max-width: 480px) {
  .category-page .list-description {
    padding: 25px 15px;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .category-page .product-details {
    padding-top: 15px;
  }
}
.category-page .product-details .title a {
  font-size: 2rem;
  font-weight: 700;
}
.category-page .product-features {
  padding-top: 15px;
}
@media (max-width: 480px) {
  .category-page .product-features ul {
    max-width: 90%;
    margin: 0 auto;
  }
}
.category-page .product-buy .price {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 15px;
}
.category-list {
  margin-top: 50px;
}
@media (max-width: 480px) {
  .category-list {
    margin-top: 30px;
  }
}
.category-list ul {
  padding-top: 25px;
}
.category-list ul li {
  padding-bottom: 10px;
}
.category-list ul li a {
  font-weight: 400;
}
.category-list h2.block-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}
.view-best-sellers .row .col-sm-4 {
  padding-bottom: 25px;
}
.account-dropdown a {
  font-size: 14px;
}
.region-sidebar-first.well {
  padding: 0;
  background: 0;
  border: none;
  box-shadow: none;
}
@media (max-width: 767px) {
  .region-sidebar-first.well {
    display: none;
  }
}
.region-sidebar-first.well .block-title {
  font-weight: 600;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.region-sidebar-first.well .block-title a {
  color: #404040;
}
.region-sidebar-first.well ul.menu {
  padding: 0;
}
.region-sidebar-first.well ul.menu li {
  padding-top: 4px;
  font-size: 14px;
}
.region-sidebar-first.well ul.menu li a {
  font-size: 14px;
  color: #0046BE;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0 0;
}
.region-sidebar-first.well ul.menu li .menu {
  padding-left: 10px;
}
.region-sidebar-first.well .block {
  margin-bottom: 20px;
}
/* catalog specific */
.page-catalog #content-column,
.page-taxonomy #content-column {
  padding-top: 50px;
  background-color: #F7F7FA;
}
.page-catalog .catalog-breadcrumb .breadcrumb,
.page-taxonomy .catalog-breadcrumb .breadcrumb {
  padding: 10px 0 30px 0;
  margin-bottom: 0;
  background-color: transparent;
}
.page-catalog .catalog-breadcrumb .breadcrumb > li + li:before,
.page-taxonomy .catalog-breadcrumb .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #404040;
  content: "\f054";
  font-family: FontAwesome, 'sans-serif';
  -webkit-text-stroke: 1px white;
  font-size: 14px;
  font-weight: bold;
}
.page-catalog .catalog-breadcrumb .breadcrumb li a,
.page-taxonomy .catalog-breadcrumb .breadcrumb li a {
  font-weight: 400;
  font-size: 14px;
  color: #0046BE;
  letter-spacing: 0;
}
.page-catalog .category-page--title,
.page-taxonomy .category-page--title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 28px;
  color: #404040;
  letter-spacing: 0;
}
.page-catalog .catalog-filters,
.page-taxonomy .catalog-filters {
  margin-bottom: 20px;
}
.page-catalog .catalog-filters .views-exposed-form .views-exposed-widget,
.page-taxonomy .catalog-filters .views-exposed-form .views-exposed-widget {
  float: right;
}
.page-catalog .catalog-filters .views-exposed-form .views-exposed-widget label,
.page-taxonomy .catalog-filters .views-exposed-form .views-exposed-widget label {
  display: none;
}
.page-catalog .catalog-filters .views-exposed-form .views-exposed-widget select,
.page-taxonomy .catalog-filters .views-exposed-form .views-exposed-widget select {
  border: 1px solid #D1D1D6;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  height: 45px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.node-type-page #content-column,
.node-type-article #content-column {
  padding-top: 50px;
}
.node-type-page #content-column .page-header,
.node-type-article #content-column .page-header {
  margin-top: 0;
}
.view.view-uc-catalog .view-content > .row,
.view.view-taxonomy-term .view-content > .row {
  border-width: 0;
}
.view.view-uc-catalog .view-content .views-bootstrap-grid-plugin-style > .row > div,
.view.view-taxonomy-term .view-content .views-bootstrap-grid-plugin-style > .row > div {
  margin-bottom: 40px;
  background-color: white;
  border: solid 1px #ddd;
}
.view.view-uc-catalog .row .product-first,
.view.view-taxonomy-term .row .product-first {
  padding: 30px 0;
}
.view.view-uc-catalog .row .product-first .on-sale,
.view.view-taxonomy-term .row .product-first .on-sale {
  text-align: right;
  top: 30px;
  position: absolute;
  right: 0;
}
.view.view-uc-catalog .row .product-first .on-sale span,
.view.view-taxonomy-term .row .product-first .on-sale span {
  background-color: #F4EC53;
  font-weight: 700;
  padding: 5px 5px;
  font-size: 12px;
  color: #404040;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle,
.view.view-taxonomy-term .row .product-middle {
  text-align: left;
}
.view.view-uc-catalog .row .product-middle h2,
.view.view-taxonomy-term .row .product-middle h2 {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  padding-top: 10px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.view.view-uc-catalog .row .product-middle h2 a,
.view.view-taxonomy-term .row .product-middle h2 a {
  font-size: 24px;
  color: #404040;
  letter-spacing: 0;
  font-weight: 300;
}
.view.view-uc-catalog .row .product-middle h3,
.view.view-taxonomy-term .row .product-middle h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.view.view-uc-catalog .row .product-middle ul,
.view.view-taxonomy-term .row .product-middle ul {
  list-style: none;
  position: relative;
  color: #444;
  padding: 2px 2px 2px 24px;
  font-size: 12px;
  text-align: left;
}
.view.view-uc-catalog .row .product-middle ul li,
.view.view-taxonomy-term .row .product-middle ul li {
  list-style: none;
  position: relative;
  color: #444;
  padding: 2px;
  font-size: 12px;
}
.view.view-uc-catalog .row .product-middle ul li:before,
.view.view-taxonomy-term .row .product-middle ul li:before {
  content: " ";
  background: url(/sites/all/themes/roroi_bootstrap/images/checkbox.png) no-repeat;
  height: 13px;
  width: 13px;
  display: block;
  position: absolute;
  left: -20px;
  top: 5px;
}
.view.view-uc-catalog .row .product-middle .price,
.view.view-taxonomy-term .row .product-middle .price {
  font-size: 24px;
  color: #BB0628;
  letter-spacing: 0;
  font-weight: 700;
}
.view.view-uc-catalog .row .product-middle .price sup,
.view.view-taxonomy-term .row .product-middle .price sup {
  font-size: 14px;
  color: #BB0628;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle .price-no-discount,
.view.view-taxonomy-term .row .product-middle .price-no-discount {
  font-weight: 700;
  font-size: 24px;
  color: #404040;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle .price-no-discount sup,
.view.view-taxonomy-term .row .product-middle .price-no-discount sup {
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle .left-details-general,
.view.view-taxonomy-term .row .product-middle .left-details-general {
  float: left;
  width: 100%;
  padding-right: 10px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .display_price,
.view.view-taxonomy-term .row .product-middle .left-details-general .display_price {
  float: left;
  font-weight: 700;
  font-size: 14px;
  color: #8E8E93;
  letter-spacing: 0;
  margin-top: 10px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .list_price_save,
.view.view-taxonomy-term .row .product-middle .left-details-general .list_price_save {
  float: left;
  margin-left: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #BB0628;
  letter-spacing: 0;
  margin-top: 10px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .stock-level,
.view.view-taxonomy-term .row .product-middle .left-details-general .stock-level {
  width: 100%;
  float: left;
  margin-top: 15px;
  margin-bottom: 30px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .stock-level img,
.view.view-taxonomy-term .row .product-middle .left-details-general .stock-level img {
  margin-bottom: -3px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .stock-level .in-stock,
.view.view-taxonomy-term .row .product-middle .left-details-general .stock-level .in-stock {
  color: #308800;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle .left-details-general .stock-level .out-stock,
.view.view-taxonomy-term .row .product-middle .left-details-general .stock-level .out-stock {
  color: #bb0628;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}
.view.view-uc-catalog .row .product-middle .left-details-general .discount,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount {
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
  width: 100%;
  float: left;
  margin-top: 15px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .discount ul,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ul,
.view.view-uc-catalog .row .product-middle .left-details-general .discount ol,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ol {
  padding-left: 0;
}
.view.view-uc-catalog .row .product-middle .left-details-general .discount ul li,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ul li,
.view.view-uc-catalog .row .product-middle .left-details-general .discount ol li,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ol li {
  list-style: none;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
}
.view.view-uc-catalog .row .product-middle .left-details-general .discount ul li:before,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ul li:before,
.view.view-uc-catalog .row .product-middle .left-details-general .discount ol li:before,
.view.view-taxonomy-term .row .product-middle .left-details-general .discount ol li:before {
  display: none;
}
.view.view-uc-catalog .row .product-middle .right-details-discount,
.view.view-taxonomy-term .row .product-middle .right-details-discount {
  float: left;
  width: 50%;
  padding-left: 10px;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 23px;
}
.view.view-uc-catalog .row .product-last,
.view.view-taxonomy-term .row .product-last {
  background: #f9f9f9;
  border-left: solid 1px #ddd;
  padding-bottom: 20px;
  font-size: 13px;
  text-align: left;
}
.view.view-uc-catalog .row .product-last .corner,
.view.view-taxonomy-term .row .product-last .corner {
  width: 0;
  height: 0;
  border-top: 50px solid #fc0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.view.view-uc-catalog .row .product-last .corner span,
.view.view-taxonomy-term .row .product-last .corner span {
  position: absolute;
  top: -43px;
  width: 50px;
  right: -10px;
  text-align: center;
  font-size: 11px;
  transform: rotate(45deg);
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.view.view-uc-catalog .row .product-last .node-add-to-cart,
.view.view-taxonomy-term .row .product-last .node-add-to-cart,
.view.view-uc-catalog .row .product-last button#edit-checkout--2,
.view.view-taxonomy-term .row .product-last button#edit-checkout--2 {
  border: none;
  padding: 9px 35px 9px 25px;
  color: #fff;
  background-color: #003b64;
  border-color: #003b64;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.view.view-uc-catalog .row .product-last .node-add-to-cart:after,
.view.view-taxonomy-term .row .product-last .node-add-to-cart:after,
.view.view-uc-catalog .row .product-last button#edit-checkout--2:after,
.view.view-taxonomy-term .row .product-last button#edit-checkout--2:after {
  content: " ";
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(/sites/all/themes/roroi_bootstrap/images/right-arrow.png) no-repeat;
  top: 13px;
  position: absolute;
  right: 5px;
}
.view.view-uc-catalog .row .product-last .node-add-to-cart .glyphicon,
.view.view-taxonomy-term .row .product-last .node-add-to-cart .glyphicon,
.view.view-uc-catalog .row .product-last button#edit-checkout--2 .glyphicon,
.view.view-taxonomy-term .row .product-last button#edit-checkout--2 .glyphicon {
  display: none;
}
.view.view-uc-catalog .row label,
.view.view-taxonomy-term .row label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.view.view-uc-catalog .row .form-control,
.view.view-taxonomy-term .row .form-control {
  width: auto;
}
.view.view-uc-catalog .row .uc_out_of_stock_html,
.view.view-taxonomy-term .row .uc_out_of_stock_html {
  display: none;
}
.view.view-uc-catalog .row .uc_out_of_stock_throbbing,
.view.view-taxonomy-term .row .uc_out_of_stock_throbbing {
  display: none;
}
.view.view-uc-catalog .row .add-to-cart-row,
.view.view-taxonomy-term .row .add-to-cart-row {
  border-top: 1px solid #D8D8D8;
  padding-top: 15px;
  padding-bottom: 15px;
}
.view.view-uc-catalog .row .add-to-cart-row .form-type-uc-quantity,
.view.view-taxonomy-term .row .add-to-cart-row .form-type-uc-quantity {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}
.view.view-uc-catalog .row .add-to-cart-row .form-type-uc-quantity label,
.view.view-taxonomy-term .row .add-to-cart-row .form-type-uc-quantity label {
  display: none!important;
}
.view.view-uc-catalog .row .add-to-cart-row .form-type-uc-quantity input,
.view.view-taxonomy-term .row .add-to-cart-row .form-type-uc-quantity input {
  background: #FFFFFF;
  border: solid 1px #979797;
  border-radius: 5px;
  min-height: 43px;
}
.view.view-uc-catalog .row .add-to-cart-row .form-actions,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions {
  float: left;
  clear: none;
}
.view.view-uc-catalog .row .add-to-cart-row .form-actions .uc_out_of_stock_throbbing,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions .uc_out_of_stock_throbbing {
  display: none;
}
.view.view-uc-catalog .row .add-to-cart-row .form-actions input,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions input,
.view.view-uc-catalog .row .add-to-cart-row .form-actions button,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions button {
  background: #0046BE;
  min-height: 43px;
  border-radius: 5px;
  min-width: 189px;
  outline-width: 0!important;
  text-transform: none;
}
.view.view-uc-catalog .row .add-to-cart-row .form-actions input:hover,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions input:hover,
.view.view-uc-catalog .row .add-to-cart-row .form-actions button:hover,
.view.view-taxonomy-term .row .add-to-cart-row .form-actions button:hover {
  background: #003da6;
  color: white;
}
.form-item-panes-payment-payment-method {
  font-size: 15px;
}
.form-item-panes-payment-payment-method img {
  max-width: 22px;
  display: inline-block;
}
.form-item.form-item-panes-payment-payment-method.form-type-radio.radio {
  margin-bottom: 20px;
}
.description {
  font-size: 13px;
  font-style: italic;
  color: #555;
}
#quotes-pane button,
#quotes-pane .help-block {
  display: none;
}
.content-inner {
  margin-bottom: 40px;
}
button#edit-continue,
button#edit-checkout--2,
button#edit-submit,
button.node-add-to-cart {
  background-color: #7cc047;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.order-review-table {
  max-width: 550px;
  margin-bottom: 40px;
}
.order-review-table .data-col {
  padding: 10px 0 10px 20px;
}
.order-review-table .title-col {
  padding: 10px 0;
}
.page-catalog .catalog-description {
  margin-bottom: 20px;
}
ul li .collapsed,
ul li .expanded,
ul li .leaf {
  list-style: none;
}
ul.tabs--primary {
  padding: 0;
}
.exzoom .exzoom_img_box {
  background: #fff !important;
}
.display_price.reg_price {
  color: #333 !important;
}
@media only screen and (max-width: 600px) {
  .uc-store-address-field .form-item label {
    text-align: left;
  }
  #line-items-div {
    float: none;
  }
}
.has-feedback label ~ .form-control-feedback {
  top: 37px;
}
#user-login,
#user-register-form {
  padding: 0;
}
.seo-shipping {
  font-size: 14px;
}
.seo-shipping p {
  margin: 15px 0 30px 0;
}
.seo-shipping h3 {
  font-size: 15px;
}
.attachment .views-field-description {
  padding: 0 0 40px 0;
  color: #404040;
}
.catalog-body {
  font-size: 14px;
  margin-bottom: 20px;
  color: #777;
}
.catalog-body h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #404040;
}
.catalog-body h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0;
  color: #404040;
}
.catalog-body p {
  margin-bottom: 10px;
}
.catalog-body ul {
  margin-bottom: 10px;
}
.tab-details p {
  margin-bottom: 20px;
  font-size: 15px;
  color: #404040;
  line-height: 1.7;
}
.catalog-description h2 {
  margin-bottom: 20px;
}
.view-uc-catalog-terms select {
  display: inline-block;
  float: right;
  width: auto;
  margin-bottom: 20px;
}
.toboggan-unified {
  max-width: 500px;
  margin: 0 auto;
  border: solid 1px #ddd;
  background: #f8f8f8;
  padding: 30px;
}
.toboggan-unified #login-links {
  text-align: center;
  font-size: 1.5em;
  line-height: 2.7;
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;
}
.toboggan-unified #login-links a {
  padding: 0.5em;
  border: none;
  background-color: none;
  font-size: 16px;
}
.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
  background-color: none;
  border: none;
  color: #404040;
}
.logo-img {
  margin-top: 10px;
}
article h2 {
  font-size: 20px;
}
article p,
article h2,
article h3 {
  margin: 20px 0;
}
article header {
  font-size: 13px;
  font-style: italic;
  color: #888;
}
.shop-block {
  background-color: #003DA6;
  color: white;
  font-family: "Helvetica Neue", 'sans-serif';
  min-height: 362px;
}
.shop-block h4 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 33px;
}
.shop-block p {
  font-size: 16px;
  line-height: 28px;
}
.shop-block .button {
  background-color: white;
  font-size: 14pt;
  color: #0046BE;
  font-weight: bold;
  font-family: 'Helvetica', 'sans-serif';
  border-radius: 5px 5px;
  width: 137px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.shop-block img {
  max-width: 100%;
  height: auto;
}
.searches-sellers {
  background-color: #E5E5EA;
  min-height: 362px;
  font-family: 'Helvetica Neue', 'sans-serif';
  padding-top: 30px;
  padding-left: 30px;
}
.searches-sellers .col-sm-12 {
  padding-bottom: 50px;
}
.searches-sellers .col-sm-12 .title {
  float: left;
  margin-right: 30px;
  width: 200px;
}
.searches-sellers .col-sm-12 .title h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
}
.searches-sellers .col-sm-12 ul {
  float: left;
  list-style: none;
  padding-top: 10px;
}
.searches-sellers .col-sm-12 ul li {
  color: #007AFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  width: 100%;
  float: left;
}
