.sprite-sprite {
  background: url('images/sprite-s4147f803ac.png') no-repeat;
}
@media (min-width: 1200px) {
  /* Important information(block after front page slider) */
  .view-important-information {
    padding-left: 0;
    padding-right: 0;
  }
  .view-important-information .view-content {
    margin-left: -20px;
    margin-right: -20px;
  }
  .view-important-information .view-content .views-row {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Front page slider */
  .view-frontpage-slideshow .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 50%;
    margin-left: -580px;
  }
  .view-frontpage-slideshow .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 50%;
    margin-right: -580px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1215px) {
  #messages {
    width: 97%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
  #block-block-5 {
    display: block;
  }
  .columns {
    padding-top:  30px;
  }
  #content-column, .content-column, div.sidebar {
    margin-left: 15px;
    margin-right: 15px;
  }
  #block-delta-blocks-breadcrumb {
    margin-bottom: 0;
  }
  #header .region-header #block-system-main-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 92px;
    z-index: 100;
    background: #fff;
    margin: 0;
  }
  #block-system-main-menu li:not(.show-mobile){
    display: block !important;
    margin: 0 15px;
    /*border-bottom: 1px solid #00b4e5;*/
    padding: 8px 0;
  }
  #header .region-header #block-system-main-menu .last {
    border: none;
  }
  #header .region-header #block-system-main-menu {
    display: none;
    z-index: 101;
  }

  #header .region-header .region-inner #block-delta-blocks-logo {
    width: auto;
  }
  #header .region-header .region-inner .block-menu {
    margin-top: 0;
  }
  #header .region-header .region-inner .block-menu .menu a {
    margin: 0;
  }
  #header .region-header .region-inner .block-search {
    margin-top: 15px;
    float: right;
    margin-right: 12%;
  }
  .sidebar .view-products-for-homepage {
    margin-right: 15px;
    margin-left: 15px;
  }

 .custom-show-menu {
    position: absolute;
    right: 15px;
    margin-top: 10px;
  }
  #footer .region-footer {
    margin: 0;
    padding: 0;
  }
  #footer .footer-information-image {
    position: static;
    margin-top: 30px;
  }
  #footer .region-footer .region-inner {
    margin: 0;
  }
  #footer .region-footer .region-inner .block {
    float: none;
    width: auto;
    max-width: inherit;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
  }
   #footer .region-footer .region-inner #block-block-3 {
    padding-bottom: 5px;
   }
  #footer .footer-social-links {
    margin-bottom: 40px;
  }
  #footer .content .footer-information-image {
    float: none;
  }
  #footer .content .footer-information-image a {
    margin: 0 8px 0 0;
  }
  #footer .custom-footer-simplenews .form-submit {
    height: 28px;
  }
  #footer .footer-social-links {
    margin-bottom: 0;
  }
  #footer .region-footer .region-inner .custom-footer-info.block {
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #footer .region-footer .region-inner .block-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  #main-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  #content-column, .content-column, div.sidebar {
    float: none;
    width: auto;
  }
  #content-column .region-inner, .content-column .region-inner, div.sidebar .region-inner {
    padding: 0;
  }
  #content-column .block-title,
  #content-column .view-popular-tags .view-content, .content-column .block-title,
  .content-column .view-popular-tags .view-content, div.sidebar .block-title,
  div.sidebar .view-popular-tags .view-content {
    max-width: 100%;
  }
  #content-column .block-title, .content-column .block-title, div.sidebar .block-title {
    margin-bottom: 22px;
  }
  #content-column .view-popular-tags, .content-column .view-popular-tags, div.sidebar .view-popular-tags {
    margin-bottom: 48px;
  }
  #content-column #block-commerce-cart-cart,
  #content-column #block-user-login, .content-column #block-commerce-cart-cart,
  .content-column #block-user-login, div.sidebar #block-commerce-cart-cart,
  div.sidebar #block-user-login {
    display: none;
  }

  .sidebar .view-products-for-homepage .view-content > .views-row {
    width: 30%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .sidebar .view-products-for-homepage .view-content > .views-row .field-content a {
    width: auto;
  }
  .sidebar .view-products-for-homepage .view-content > .views-row .product-preview-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .sidebar .view-products-for-homepage .view-content .views-row-last {
    margin-right: 0;
  }

  .view-categories .navigation-category-item {
    max-width: 90%;
    margin-bottom: 15px;
  }

  #main-content .view-products-for-homepage .view-content,
  .view-product-category .view-content,
  #main-content section,
  .two-sidebars #main-content {
    max-width: 100%;
  }

  .two-sidebars .content-inner {
    margin: 0;
  }

  #main-content .view-products-for-homepage .view-content .views-row {
    width: 22%;
  }

  .sidebar-first .content-inner {
    margin: 0;
  }

  .big-product-image {
    width: 70%;
  }

  .node-product .node-title {
    width: 59%;
  }

  .node-type-product .field-name-field-product,
  .node-type-product .commerce-product-field-commerce-price {
    width: auto;
  }

  .node-type-product #main-content .field-name-field-tags {
    margin: 13px 0 0 0;
  }
  .node-type-product .commerce-product-field-commerce-price {
    text-align: left;
    padding-left: 15px;
  }
  .node-type-product .commerce-product-field-commerce-price .field-name-commerce-price {
    float: none;
    top: inherit;
    left: inherit;
    margin: 20px 0 30px 0;
  }
  .page-cart #main-content {
    margin-bottom: 20px;
  }
  #block-system-user-menu {
    position: static;
  }
}
@media only screen and (min-width: 581px) and (max-width: 959px) {
  .view-frontpage-slideshow .owl-pagination {
    display: block;
    font-size: 0;
  }
  .view-frontpage-slideshow .owl-pagination .owl-page {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    background: url(images/i/owl_page.png) no-repeat;
  }
  .view-frontpage-slideshow .owl-pagination .owl-page span {
    display: none;
  }
  .view-frontpage-slideshow .owl-pagination .owl-page:hover,
  .view-frontpage-slideshow .owl-pagination .active {
    background: url(images/i/owl_page_active.png) no-repeat;
  }
  .view-frontpage-slideshow .owl-theme .owl-controls {
    margin: -24px 0 0 0;
    position: relative;
    bottom: 21px;
  }
  .view-frontpage-slideshow .owl-theme .owl-controls .owl-buttons {
    display: none;
  }

  .two-sidebars div.sidebar {
    float: none;
    width: auto;
  }

  #footer .region-footer .region-inner .block-simplenews .form-item-mail {
    float: left;
    width: 55%;
    margin-right: 23px;
  }
  #footer .custom-footer-simplenews .form-submit {
    float: none;
  }
}
@media (max-width:768px) {
  div.sidebar .view-popular-tags {
    margin-right: 15px;
    margin-left: 15px;
  }
  #block-search-form {
    box-sizing: border-box;
    padding: 0 8px;
  }
  #block-system-powered-by {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 736px) {
  .big-product-image {
    width: 100%;
    margin-bottom: 20px;
    float: none;
  }
  .jcarousel-skin-tango {
    float: none;
    display: block;
  }
  .jcarousel-skin-tango .jcarousel-container-horizontal,
  .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 180px;
  }

  .node-product .jcarousel-container-vertical .jcarousel-prev,
  .node-product .jcarousel-container-vertical .jcarousel-next,
  .node-product .jcarousel-container-horizontal .jcarousel-prev,
  .node-product .jcarousel-container-horizontal .jcarousel-next {
    background-color: #b6bcc3;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 36px;
    height: 36px;
    top: 50%;
    margin-top: -33px;
  }
  .node-product .jcarousel-container-vertical .jcarousel-prev,
  .node-product .jcarousel-container-horizontal .jcarousel-prev {
    right: inherit;
    margin-left: -50px;
    background-position: 0 -646px;
    height: 36px;
    width: 36px;
    display: inherit;
  }
  .node-product .jcarousel-container-vertical .jcarousel-next,
  .node-product .jcarousel-container-horizontal .jcarousel-next {
    margin-right: -40px;
    background-position: 0 -607px;
    height: 36px;
    width: 36px;
  }

  .jcarousel-skin-tango .jcarousel-item {
    border: none;
  }

  #block-views-important-information-block,
  #block-views-frontpage-slideshow-block {
    display: none;
  }

  .jcarousel-skin-tango .jcarousel-container-vertical {
    width: 225px;
  }
  .jcarousel-skin-tango .jcarousel-prev,
  .jcarousel-skin-tango .jcarousel-next {
    right: 0;
    left: inherit;
  }
  .jcarousel-skin-tango .jcarousel-prev {
    top: 45px;
  }
  .jcarousel-skin-tango .jcarousel-next {
    bottom: 45px;
  }

  .node-product .node-title {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 610px) {
  .toboggan-unified #login-links a {
    line-height: 0.7;
    display: block;
    margin: 10px 0;
  }

  #edit-account .form-text,
  #user-login .form-text {
    width: 90%;
    margin: auto;
  }
  #edit-account .form-item-name,
  #edit-account .form-item-pass,
  #user-login .form-item-name,
  #user-login .form-item-pass {
    margin-bottom: 15px;
  }
  #edit-account .login-forgot,
  #user-login .login-forgot {
    margin-bottom: 10px;
  }
  #edit-account .form-submit,
  #user-login .form-submit {
    padding: 0 10px;
  }

  #messages {
    width: 90%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 580px) {
  .columns #main-content #block-system-main {
    box-sizing: border-box;
  }
  #main-content {
    padding-left: 0;
    padding-right: 0;
  }

  .view-products-for-homepage .view-content .views-field-view,
  .view-product-category .view-content .views-field-view,
  .view-categories-page .view-content .views-field-view,
  .view-popular-categories .view-content .views-field-view {
    border-top: none;
  }
  .view-products-for-homepage .view-content .views-row, 
  .view-product-category .view-content .views-row, 
  .view-categories-page .view-content .views-row, 
  .view-popular-categories .view-content .views-row {
    text-align: center;
  }
  .columns {
    padding-top:  0;
  }
  .page-search #main-content #content {
    width: 80%;
    margin: auto;
  }
  .page-search #main-content #content .form-text {
    width: 90%;
  }
  .page-search #main-content ul {
    width: 86%;
    margin: 0 auto 30px auto;
  }
  .page-search h2 {
    margin-bottom: 10px;
  }

  #search-form .form-text {
    margin: 10px 0;
  }

  #block-delta-blocks-breadcrumb {
    margin-bottom: 0;
  }

  .view-important-information .view-content .views-row-even {
    margin: 0;
  }

  .region-leaderboard .region-inner .block {
    display: block;
    text-align: center;
  }
  .region-leaderboard .region-inner .custom-shopping-cart .content a {
    margin: 0;
  }

  .region-leaderboard .region-inner {
    padding: 0;
  }

  #header .region-header .region-inner .block {
    width: auto;
  }
  #header .region-header .region-inner #logo {
    margin: 0;
  }

  .page-node-49 #block-delta-blocks-breadcrumb {
    margin: 0;
  }
  .page-node-49 .node-content .field-items p:first-child {
    width: auto;
  }
  .page-node-49 .node-content .field-items p:not(:first-child),
  .page-node-49 .node-content .field-items ul,
  .page-node-49 .node-content .field-items .contact-us-title,
  .node-article,
  .feed-icon {
    margin-left: 20px;
    margin-right: 20px;
  }
  #block-search-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-node-49 .node-content .field-items ul {
    margin-bottom: 30px;
  }
  .page-node-49 #content-column, .page-node-49 .content-column {
    width: 100%;
  }
  .page-node-49 #main-content #page-title {
    border: none;
    background: #00b4e5;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 7px 0;
    margin: 0;
  }
  .page-node-49 #main-content .block-webform .form-actions {
    margin-bottom: 28px;
  }
  #main-content .block-webform .block-title {
    padding: 8px 0;
  }

  .page-node-49 #main-content .block-webform .block-title {
    border: none;
  }
  .page-node-49 .block.block-webform {
    border-top: 4px solid #edf0f3;
  }
  .page-node-49 .block.block-webform h2 {
    border: none;
  }
  .page-node-49 .block.block-webform form {
    width: 90%;
    margin: auto;
  }

  .sidebar .view-products-for-homepage {
    width: 90%;
    margin: auto;
  }
  .sidebar .view-products-for-homepage .view-content > .views-row {
    width: 100%;
    display: block;
  }

  .view-popular-tags .view-content {
    width: 90%;
  }

  .view-categories .navigation-category-item .item-list .views-row {
    margin-left: 30px;
  }
  .view-categories h3 {
    padding-left: 27px;
  }
  .view-categories h3:after {
    left: 0;
  }

  #content-column, .content-column {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .node-type-blog #content-column #content,
  .page-blog #content-column #content {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    padding-top: 20px;
  }
  #main-content section .block-title,
  #main-content #page-title {
    font-size: 24px;
    text-align: center;
    background: #00b4e5;
    border: none;
    color: #FFF;
    padding: 8px 0px;
    margin: 0;
  }

  .view-display-id-block_1 .view-content .views-row-first {
    border-top: none;
  }
  #content .view-content .views-field-name,
  #content .view-content .views-field-name-1 {
    border-right: none;
    border-radius: 0;
    display: block;
    top: 0;
    text-align: center;
    border-bottom: 1px solid #D4D4D4;
    margin-top: 0;
    padding: 0;
    float: none;
  }
  .view-products-for-homepage .view-content .views-field-name-1, 
  .view-product-category .view-content .views-field-name-1, 
  .view-categories-page .view-content .views-field-name-1, .view-popular-categories 
  .view-content .views-field-name-1 {
    float: none;
    color: #26292D;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    border-bottom: 1px solid #D4D4D4;
  }
  #content .view-content .views-field-name a,
  #content .view-content .views-field-name-1 a {
    padding: 10px 22px 12px 17px;
    height: 100%;
    display: block;
    box-sizing: border-box;
    line-height: 1.3;
  }
  #content .view-content .views-field-name .field-content,
  #content .view-content .views-field-name-1 .field-content {
    vertical-align: middle;
    display: block;
    height: 49px;
    width: 100%;
    line-height: 49px;
  }
  .jcarousel-skin-tango {
    float: none;
  }

  .big-product-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .jcarousel-skin-tango .jcarousel-clip-vertical {
    max-height: 185px;
  }

  .node-product {
    text-align: center;
  }
  .node-product .field-name-field-product {
    text-align: left;
  }
  .node-product .field-name-field-product .form-submit {
    float: none;
    margin-top: 30px;
  }

  .node-product {
    width: 90%;
    margin: auto;
  }
  .node-product .node-title {
    width: 100%;
  }

  .node-type-product #main-content .view-products-for-homepage .view-content {
    text-align: center;
  }
  .node-type-product #main-content .view-products-for-homepage .view-content .views-row {
    width: 45%;
  }

  .quicktabs-wrapper {
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
  }
  .quicktabs-wrapper p {
    width: 90%;
  }

  ul.quicktabs-tabs a {
    padding: 6px 9px 3px 9px;
  }

  ul.quicktabs-tabs li.active a {
    padding: 6px 9px 3px 9px;
  }

  .node-type-product ul.quicktabs-tabs a {
    font-size: 16px;
  }

  .page-cart .line-item-summary,
  .page-cart .commerce-line-item-actions {
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .commerce_payment,
  .checkout-help,
  .cart_contents legend,
  .checkout-buttons,
  .customer_profile_billing {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #main-content #block-webform-client-block-7 .block-title {
    font-size: 20px;
    padding-top: 20px;
    text-align: inherit;
    background: none;
    color: inherit;
  }
  #content-column, .content-column, div.sidebar,
  #footer .region-footer,
  #footer .region-footer .region-inner {
    margin-right: 0;
    margin-left: 0;
  }
  #footer .region-footer, #footer .region-footer .region-inner {
  padding: 0;
  }
  .copyright {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components {
    width: 50%;
  }
  .commerce-price-formatted-components {
    margin-right: 15px;
  }
  .node-article .links li {
    margin: 10px 20px 10px 0;
  }
  .node-article .node-readmore a {
    margin: 0;
  }
  #first-time {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
  #header .region-header .region-inner #block-delta-blocks-logo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
  }
  #header .region-header #block-system-main-menu {
    top: 208px;
  }
  #header .region-header .region-inner {
    padding: 24px 0;
  }
  #header .region-header .region-inner .block.block-search {
    float: left;
    width: 200px !important;
    margin-left: 15px;
  }
  #header .region-header .region-inner .block-delta-blocks {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 959px) {
  #block-delta-blocks-logo {
    float: left;
  }

  #block-search-form {
    clear: none;
  }
}
@media only screen and (min-width: 451px) and (max-width: 581px) {
  #header .region-header #block-system-main-menu {
    top: 92px;
  }
}
@media screen and (min-width: 960px) {
  #block-system-main-menu {
    display: inline-block !important;
  }
}
