.field-name-field-sig {
  float: right;
  /* display: inline-block; */
  /* width: 120px; */
  /* height: 30px; */
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background: orange;
  color: white;
  padding: 20px;
}
.page-admin-store-orders-edit .field-name-field-sig {
  float: none;
  width: 100%;
  color: #000;
}
