// Custom Styling here

body {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  min-width: 320px;
}

@red: #e31637;
h1{font-size:2em;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:1em;}
body{
  font-family:'Helvetica Neue', sans-serif;
  h1 {
    &.page-header {
      padding-bottom: 9px;
      margin: 40px 0 20px;
      font-size: 2em;
      border-width:0;
    }
  }
}
html{
  @media(max-width:767px){
    &.mobile-html{
      overflow:hidden!important;
    }
  }
}
a {
  color: #337ab7;
}
ul, ol {
  padding: 10px 20px;
}
.panel-body{
  hr {
    margin: 30px 0;
  }
}
#block-system-main-menu{
  margin-top:0;
  margin-bottom:0;
  z-index:3;
}
.input-group{
  .form-control{
    z-index: 0;
    &:focus{
      z-index: 0;
    }
  }
}
#first-time{
  display:none;
}
.cart-block{
  margin-top: 13px;
  .quantity-header{
    color: white;
    padding: 0 6px;
    background-color: #e31637;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    left: 15px;
    top: 2px;
    font-size: 14px;
  }
  img{
    margin-bottom: -3px;
  }
  svg{
    margin-left:30px;
  }
}
.account-block {
  padding-right: 15px;
  border-right: 1px solid #0078ab;
  margin-top: 15px;
  .account-dropdown {
    .btn {
      background-color: transparent;
      color: #087792;
      padding-top: 0;
      &:focus{
        box-shadow: none;
      }
    }
    .caret{
      margin-left:10px;
      color: #087792;
    }
    span{
      color: #087792;
    }
  }
}

a {
  color: #26292d;
}

#header {
  padding: 14px 15px 16px 15px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  position: relative;
  z-index: 1;
}

.block-search{
  width:50%!important;
  float:left!important;
  border-radius: 2px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-top: 19px;
  margin-bottom: 10px;
  padding: 0 8px;
  @media(max-width: 767px) {
    margin-bottom: 35px;
  }
  @media(max-width:979px) and (min-width:768px){
    width:37%!important;
  }
  .input-group {
    width: 100%;
  }
  .btn-primary {
    display: none;
  }
  .form-text{
    padding: 12px 30px 12px 38px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: 1px solid #abb4bf;
    width: 100%;
    -webkit-appearance: none;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    min-height: 48px;
  }
  .form-actions{
    position: absolute;
    margin: 5px 6px;
    z-index: 1000;
    left: 0;
    right:auto;
    top:5px;
    background-position: center;
    background-size:cover;
    width:30px;
    height:29px;
    background: url(../images/search-icon.svg) no-repeat;
  }
  .ui-autocomplete-field-nothing{
    .row{
      margin: 0 0;
    }
    .category-search{
      margin-top:10px;
      color: #ccc;
      a{
        color: #ccc;
      }
    }
    .strike{
      text-decoration: line-through;
      float: left;
      color:red;
    }
    .not-strike{
      float:left;
      padding-left:5px;
    }
  }
}
.custom-blocks{
  //margin-top:24px;
  margin-top: 15px;
}
.tb-megamenu {
  background-color: transparent;
    .nav-collapse {
      &.collapse {
        &.in {
          @media(max-width:738px){
          overflow: scroll!important;
        }
      }
    }
  }

  .tb-megamenu-nav {
    > li {
      &.show-mobile{
        display:none;
      }
      > a {
        color: #111111 !important;
        background-color: transparent !important;
        border-width: 0;
        font-weight:400;
        font-size:16px;
        &:hover, &.active, &:focus, &.tb-megamenu-click{
          color: #ffb600 !important;
          background-color:#eeeeee!important;
        }

        &.store_specials {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 65 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M64.994,31.721 L32.844,63.84 C31.301,65.383 28.797,65.383 27.253,63.84 L2.092,38.705 C0.548,37.163 0.548,34.663 2.092,33.118 L34.242,0.999 L65,0.996 L64.994,31.721 Z M35.641,5.189 L6.286,34.515 C5.515,35.286 5.515,36.536 6.286,37.307 L28.651,59.65 C29.423,60.421 30.674,60.421 31.447,59.65 L60.801,30.323 L61,4.998 L35.641,5.189 Z M43.29,22.681 C40.153,19.548 40.153,14.466 43.29,11.333 C46.428,8.198 51.514,8.198 54.65,11.333 C57.787,14.466 57.787,19.548 54.65,22.681 C51.513,25.814 46.428,25.813 43.29,22.681 Z M51.873,14.105 C50.305,12.539 47.762,12.539 46.193,14.105 C44.625,15.672 44.625,18.212 46.193,19.781 C47.761,21.348 50.304,21.348 51.873,19.781 C53.441,18.213 53.441,15.673 51.873,14.105 Z M13.275,38.705 L16.07,35.91 L30.049,49.875 L27.253,52.668 L13.275,38.705 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 30px;
            height: 30px;
            content: '';
            display: inline-block;
            margin-bottom: -10px;
            margin-right: 5px;
            @media(max-width:767px){
              display:none;
            }
          }
          &:hover{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 65 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M64.994,31.721 L32.844,63.84 C31.301,65.383 28.797,65.383 27.253,63.84 L2.092,38.705 C0.548,37.163 0.548,34.663 2.092,33.118 L34.242,0.999 L65,0.996 L64.994,31.721 Z M35.641,5.189 L6.286,34.515 C5.515,35.286 5.515,36.536 6.286,37.307 L28.651,59.65 C29.423,60.421 30.674,60.421 31.447,59.65 L60.801,30.323 L61,4.998 L35.641,5.189 Z M43.29,22.681 C40.153,19.548 40.153,14.466 43.29,11.333 C46.428,8.198 51.514,8.198 54.65,11.333 C57.787,14.466 57.787,19.548 54.65,22.681 C51.513,25.814 46.428,25.813 43.29,22.681 Z M51.873,14.105 C50.305,12.539 47.762,12.539 46.193,14.105 C44.625,15.672 44.625,18.212 46.193,19.781 C47.761,21.348 50.304,21.348 51.873,19.781 C53.441,18.213 53.441,15.673 51.873,14.105 Z M13.275,38.705 L16.07,35.91 L30.049,49.875 L27.253,52.668 L13.275,38.705 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");            }
          }
        }

        &.customer_support {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 64 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M52,48.993 L51.999,64.993 L34.398,48.993 L12,48.993 C5.372,48.993 0,45.622 0,38.994 L0,12.993 C0,6.367 5.372,0.994 12,0.994 L51.999,0.994 C58.627,0.994 64,6.366 64,12.993 L64,36.995 C64,43.622 58.627,48.993 52,48.993 Z M59.999,12.993 C59.999,8.576 56.418,4.993 51.999,4.993 L12,4.993 C7.581,4.993 3.999,8.575 3.999,12.993 L3.999,38.994 C3.999,43.413 7.581,44.994 12,44.994 L35.999,44.994 L47.999,56.103 L47.999,44.994 L51.999,44.994 C56.418,44.994 59.999,41.413 59.999,36.995 L59.999,12.993 Z M45.999,20.993 L17.999,20.993 C16.895,20.993 15.999,20.097 15.999,18.994 C15.999,17.89 16.895,16.994 17.999,16.994 L45.999,16.994 C47.103,16.994 47.999,17.89 47.999,18.994 C47.999,20.098 47.104,20.993 45.999,20.993 Z M21.999,28.994 L41.999,28.994 C43.104,28.994 43.999,29.89 43.999,30.995 C43.999,32.099 43.104,32.994 41.999,32.994 L21.999,32.994 C20.895,32.994 19.999,32.099 19.999,30.995 C19.999,29.889 20.896,28.994 21.999,28.994 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 30px;
            height: 30px;
            content: '';
            display: inline-block;
            margin-bottom: -10px;
            margin-right: 5px;
            @media(max-width:767px){
              display:none;
            }
          }
          &:hover{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 64 65' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M52,48.993 L51.999,64.993 L34.398,48.993 L12,48.993 C5.372,48.993 0,45.622 0,38.994 L0,12.993 C0,6.367 5.372,0.994 12,0.994 L51.999,0.994 C58.627,0.994 64,6.366 64,12.993 L64,36.995 C64,43.622 58.627,48.993 52,48.993 Z M59.999,12.993 C59.999,8.576 56.418,4.993 51.999,4.993 L12,4.993 C7.581,4.993 3.999,8.575 3.999,12.993 L3.999,38.994 C3.999,43.413 7.581,44.994 12,44.994 L35.999,44.994 L47.999,56.103 L47.999,44.994 L51.999,44.994 C56.418,44.994 59.999,41.413 59.999,36.995 L59.999,12.993 Z M45.999,20.993 L17.999,20.993 C16.895,20.993 15.999,20.097 15.999,18.994 C15.999,17.89 16.895,16.994 17.999,16.994 L45.999,16.994 C47.103,16.994 47.999,17.89 47.999,18.994 C47.999,20.098 47.104,20.993 45.999,20.993 Z M21.999,28.994 L41.999,28.994 C43.104,28.994 43.999,29.89 43.999,30.995 C43.999,32.099 43.104,32.994 41.999,32.994 L21.999,32.994 C20.895,32.994 19.999,32.099 19.999,30.995 C19.999,29.889 20.896,28.994 21.999,28.994 Z' id='Shape' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }

        &.bulk_orders {
          &:before {
            background: url(../images/bulk_orders.svg) no-repeat;
            width: 30px;
            height: 30px;
            content: '';
            display: inline-block;
            margin-bottom: -10px;
            margin-right: 5px;
            @media(max-width:767px){
              display:none;
            }
          }

        }
      }
      &[data-class='products'] {
        > a {
          &:before {
            background: url(../images/products.svg) no-repeat;
            width: 30px;
            height: 30px;
            content: '';
            display: inline-block;
            margin-bottom: -10px;
            margin-right: 5px;
            @media(max-width:767px){
              display:none;
            }
          }
        }
        &.open{
          @media(max-width:767px){
            .tb-megamenu-column{
              display:block!important;
              height:300px;
            }
          }
        }
      }
      .mega-inner{
        padding-top:0;
      }
      .tb-megamenu-submenu {
        background-color:#eeeeee;
        min-height:450px;
        border-width:0;
        .mega-dropdown-inner {
          max-width: 1140px;
          margin: 0 auto;
            .block-title{
              display:block;
              font-weight:600;
              font-size:20px;
              margin-top:45px;
              text-transform: none;
            }
            ul{
              li{
                width:100%;
                margin-bottom:10px;
                a{
                  margin: 0 0!important;
                  text-transform: none;
                }
              }
            }
        }
      }
    }
  }
}
/* homepage styling */
#page{
  padding: 0 0;
  #region_slider{
    .block-title{
      display:none;
    }
    .hero_image{
      background-color:#073058;
      min-height:400px;
      color:white;
      margin-bottom:0;
      h2{
        margin-top:115px;
        font-weight:600;
        font-size:40px;
        line-height:48px;
      }
      h3{
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        max-width: 305px;
        margin-top: 20px;
      }
      .get-started {
        a {
          margin-top: 35px;
          display: inline-block;
          background-color: white;
          padding: 20px 40px;
          border-radius: 5px 5px;
          font-size: 20px;
          line-height: 20px;
          color: #0F4A5B;
          font-weight: 600;
        }
      }
      .slick-slide{
        background-position: right;
        background-size: 50% 100%;
        background-repeat: no-repeat;
        min-height:400px;
        @media(max-width:991px){
          background-image:none!important;
        }
      }
      //.slick-track {
      //  transform: none!important;
      //}
      .slick-dots {
        @media (min-width: 768px) {
          width: 750px !important
        }
        @media (min-width: 992px) {
          width: 970px !important;
        }
        @media (min-width: 1200px) {
          width: 1170px !important;
        }
        text-align: left;
        margin: -35px auto 0 auto;
        padding-left:15px;
        position:relative;
        bottom:0;
        li {
          &.slick-active {
            button {
              &:before {
                color: white;
                font-size: 15px;
                border: none;
                top: 3px;
              }
            }
          }
          button{
            &:before{
              border:1px solid white;
              border-radius:50% 50%;
              position:relative;
              font-size: 12px;
            }
          }
        }
      }
      //.container-image{
      //  position:absolute;
      //  top:0;
      //  right:0;
      //}
    }
    .promotions{
      background-color:#005498;
      .promotion{
        color:white;
        margin-top:23px;
        margin-bottom:23px;
        border-right:3px solid white;
        &:last-child{
          border-width:0;
        }
        @media(max-width:991px){
          border-width:0;
        }
        h5{
          font-size:18px;
          font-weight:600;
          line-height:22px;
          margin-bottom:5px;
        }
        a{
          font-size:15px;
          line-height:18px;
          font-weight:300;
          color:white;
        }
      }
    }
  }
}

/* shop by category */
#block-views-shop-by-category-block-1{
  padding: 45px 15px 0;
  @media(max-width: 767px) {
    padding: 0;
  }
  h2{
    &.block-title {
      font-size: 24px;
      line-height: 29px;
      font-weight: 400;
      color: #434343;
      border-width: 0;
      font-family:inherit;
      padding-bottom:0;
      margin-bottom:35px;
      @media(max-width: 767px) {
        font-size: 24px;
        text-align: center;
        border: none;
        padding: 8px 0px;
        margin: 0;
      }
    }
  }
  .view-content{
    display:inline-block;
    width:100%;
    margin-bottom:100px;
    @media(max-width: 480px) {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
  .views-row{
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    min-height: 146px;
    float:left;
    @media(max-width:767px){
      width:100%;
    }
    a{
      color: #444;
      font-size: 15px;
      font-weight: 500;
    }
    .views-field-uc-catalog-image{
      a{
        height: 150px;
        display: block;
        margin-bottom: 20px;
        @media(max-width:991px){
          height: 120px;
        }
        img{
          min-height: 1px !important;
          min-width: 1px !important;
          margin: 0 auto;
          max-height: 150px;
          max-width: 150px;
          border-radius: 50% 50%;
          @media(max-width:991px){
            max-height: 120px;
            max-width: 120px;
            min-width:1px;
          }
        }
      }
    }
  }
}
#block-block-2{
  .block-title {
    display: none;
  }
  .free-shipping{
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    padding:70px 0;
    p{
      text-align: center;
      font-size:32px;
      line-height:38px;
      font-weight:300;
      color:#3f3f3f;
      span{
        font-weight:600;
      }
    }
  }
}
#main-content{
  section{
    max-width:100%;
  }
}

//#block-block-5{
//  display:none!important
//}
.custom-show-menu{
  display:none!important
}
#header{
  padding-bottom:0;
  @media(max-width:767px){
    &.mobile-header {
      background-color: #073058;
      box-shadow: none !important;
      .tb-megamenu{
        background-color: #073058;
        .btn-navbar{
          color:white!important;
          font-size: 25px!important;
          .fa-reorder{
            &:before{
              content:"\f00d";
            }
          }
        }
      }
      .cart-block{
        display:none;
      }
      .site-logo{
        display:none;
      }
      .site-logo-mobile{
        display:block!important;
      }
    }
  }
}
#header {
  .region-header {
    #block-system-main-menu{
      display:block!important;
      @media(max-width:767px){
        z-index:1!important;
        top:40px!important;
        left:10px!important;
        position:absolute;
        width: 100%;
      }
    }
    @media(max-width:767px){
      #block-delta-blocks-logo{
        z-index:2;
        margin-top:15px;
        padding-left:20px;
        margin-left:30px;
        img{
          max-width:150px;
        }
      }
      #block-search-form{
        z-index:2;
        margin-right:0;
      }
      .custom-blocks{
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 2;
        .account-block{
          margin-top:5px;
          display:none;
        }
      }
      .tb-megamenu{
        .btn-navbar{
          color:#073058;
          background-color:transparent;
          box-shadow:none;
          background-image:none;
          padding: 0 0;
          font-size: 30px;
          border-width: 0;
          text-shadow: none;
          margin-left: 13px;
          &:focus{
            outline:none;
          }
        }
      }
    }
    @media(max-width:534px){
      #block-delta-blocks-logo{
        margin-top:20px;
        margin-bottom:0px;
        padding-bottom:0;
        margin-left: calc(~' ( 100% - 200px ) / 2')!important;
        margin-left: -webkit-calc(~' ( 100% - 200px ) / 2')!important;
        margin-left: -moz-calc(~' ( 100% - 200px ) / 2')!important;
        margin-left: -ms-calc(~' ( 100% - 200px ) / 2')!important;
        max-width:200px;
        padding-right:15px!important;
        border-width:0;
        .logo-img{
          text-align:center;
          img{
            max-width: 100%;
            height: auto;
          }
        }
      }
      #block-search-form{
        width:100%!important;
      }
      #block-system-main-menu{
        top: 35px!important;
      }
    }
    @media(max-width:450px){
      #block-search-form{
        margin-left: 0px;
      }
      .custom-blocks{
        .cart-block{
          margin-right: -5px;
          margin-top: 20px;
        }
      }
      #block-system-main-menu{
        top: 53px!important;
      }
      #block-delta-blocks-logo{
        padding-left:0!important;
        width:auto!important;
      }
    }
  }
}
/* nav collapse */
.tb-megamenu{
  @media(max-width:800px) and (min-width:768px){
    .nav{
      > li {
        > a{
          padding:15px 10px;
        }
      }
    }
  }
  @media(max-width:767px){
    .nav-collapse{
      background-color:#073058;
      margin-left: -10px;
      @media(max-width:534px){
        margin-top: 89px;
      }
      .nav{
        min-height: 100vh;
        display: block;
        border-right: 0;
        border-left: 0;
        > li {
          border-width:0!important;
          position:relative;
          z-index:2;
          padding-top:0!important;
          padding-bottom:0!important;
          &.show-mobile{
            display:block;
            margin:0 15px;
            padding:8px 0;
            &.first-mobile{
              a {
                &:before {
                  border-top: 1px solid white;
                  display: block;
                  width: 75px;
                  height: 2px;
                  margin-bottom: 15px;
                }
              }
            }
            .dropdown-menu{
              ul{
                li{
                  a{
                    border-width:0!important
                  }
                }
              }
            }
          }
          > a {
            border-width:0;
            color:white!important;
            font-weight: 400;
            &:hover, &:focus, &.tb-megamenu-click{
              color: #ffb600 !important;
              background-color: transparent!important;
            }
            &.dropdown-toggle{
              &:after{
                content: "\f105";
                font-family: 'FontAwesome', sans-serif;
                margin-left: 15px;
              }
            }
          }
          &.open.dropdown{
            position: absolute;
            top: 1px;
            height: 100%;
            width: 100%;
            z-index: 9999;
            background-color:#073058;
            > a {
              &.dropdown-toggle {
                &:after {
                  content: "\f104";
                  font-family: 'FontAwesome', sans-serif;
                  margin-right: 15px;
                  float:left;
                  margin-left:0;
                }
              }
            }
          }
          .dropdown-menu{
            min-height: 100vh;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 160px;
            list-style: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            background-color:#073058;
          }
          .tb-megamenu-submenu {
            background-color:transparent;
            min-height:1px;
            border-width:0;
            .mega-dropdown-inner {
              max-width: 1140px;
              margin: 0 auto;
              #block-menu-menu-by-category,#block-menu-menu-by-brand,#block-views-best-sellers-block{
                //.block-title{
                //  display:none;
                //}
                ul{
                  li{
                    width:100%;
                    margin-bottom:0px;
                    border-width:0!important;
                    text-align:left;
                    margin-left:0;
                    margin-right: 0;
                    a{
                      margin: 0 0;
                      border-width:0!important;
                      padding:8px 0;
                      color:white;
                      text-transform:none!important;

                    }
                  }
                }
                a{
                  border-width:0!important;
                }
              }
            }
          }
        }
      }
    }
  }
}
.not-front{
  &.page-node {
    #columns{
      max-width:100%!important;
      padding:0 0!important;
      margin:0 0!important;
      #content-column{
        padding:0 0!important;
        margin:0 0!important;
        #main-content{
          padding: 0 0!important;
        }
      }
    }
  }
}
.page-node{
  #main-content{
    .container-fluid{
      .row{
        .container{
          .row{
            margin-top:55px;
            margin-bottom:55px;
            .btn-primary{
              background-color: #7cc047;
              background-image: none;
              border-width: 0;
              text-transform: uppercase;
              padding:10px 15px;
              font-size:16px;
              line-height:20px;
              &:hover{
                background-color:rgba(124,192,71,0.8);
              }
            }
            h3{
              color:#017dc5;
              font-size:24px;
              margin-bottom:30px;
              line-height:30px;
            }
            p{
              margin-bottom:20px;
              font-size:14px;
              line-height:18px;
            }
          }
        }
        &.after-header{
          border-bottom:1px solid #eeeeee;
          .row{
            margin-top:30px;
            margin-bottom:30px;
          }
        }
        &.with-back{
          background-color:#efefef;
        }
        &.blue-back{
          background-color:#007DC3;
          color:#AAD4EC;
          .row{
            margin-top:20px;
            margin-bottom:20px;
            p{
              &:first-child{
                margin-bottom: 0;
                font-size: 18px;
                a{
                  margin-left:10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.front {
  #content {
    margin-top: 40px;
  }
  h2{
    a{
      color: #404040;
      font-size: 32px;
      margin-bottom: 30px;
      display: block;
    }
  }
  .content-column {
    .container {
      @media(max-width: 767px) {
        padding: 0;
      }
    }
  }
  .view-shop-by-category {
    a {
      @media(max-width: 767px) {
        padding: 10px 22px 12px 17px;
        height: 100%;
        display: block;
        line-height: 1.3;
      }
    }
  }
}

#footer{
  border-width:0;
  padding: 0 0;
  .region-footer{
    padding:0 0!important;
    max-width:100%;
    margin-left:0!important;
    margin-right:0!important;
    #block-block-3, #block-block-4,#block-menu-menu-footer-menu{
      width:100%;
      padding-bottom:0!important;
      .block-title{
        display:none;
      }
      .block-content{
        padding: 0 0!important;
        .container-fluid{
          .row{
            &.blue-back{
              background-color:#007DC3;
              color:#AAD4EC;
              .row{
                margin-top:20px;
                margin-bottom:20px;
                .btn-primary{
                  background-color: #7cc047;
                  background-image: none;
                  border-width: 0;
                  text-transform: uppercase;
                  padding:10px 15px;
                  font-size:16px;
                  line-height:20px;
                  &:hover{
                    background-color:rgba(124,192,71,0.8);
                  }
                  @media(max-width:650px){
                    margin-top:20px;
                  }
                }
                p{
                  &:first-child{
                    margin-bottom: 0;
                    font-size: 18px;
                    a{
                      margin-left:10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .menu {
    &.nav {
      padding: 25px 15px 20px;
      border-top: 1px solid #EEEEEE;
      @media(min-width: 1200px) {
        width: 1170px;
      }
      @media(min-width:992px) and (max-width: 1199px) {
        width: 970px;
      }
      @media(min-width: 768px) and (max-width: 991px) {
        width: 750px;
      }
      margin: 0 auto;
      color: #7EBBE6;
    }
  }
}

.blue-back {
  background-color: #007DC3;
  color: #AAD4EC;
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      font-size: 18px;
    }
  }
  .btn-primary {
    background-color: #7cc047;
    border-width: 0;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }
}

.copyrights {
  background-color: #E4E4E4;
  color: #555555;
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 13px;
  }
  span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  a {
    color: #7EBBE6;
    margin-left: 10px;
  }
}

.footer {
  margin-top: 0;
  .dropdown-toggle {
    display: none;
  }
  .menu {
    &.nav {
      li {
        &.expanded {
          @media(min-width: 480px) {
            float: left;
            width: 25%;
            margin: 0;
            line-height: 30px;
          }
          @media(max-width: 767px) {
            margin-bottom: 20px;
          }
          a {
            color: #7EBBE6!important;
          }
          .leaf-block {
            .leaf {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.page{
  .container{
    @media(min-width:768px){
      width: 750px!important
    }
    @media(min-width:992px){
      width: 970px!important;
    }
    @media(min-width:1200px){
      width:1170px!important;
    }

    .container-fluid{
      width:100%!important;
    }

  }
}
#block-block-4{
  background-color: white;
  #social{
    max-width:850px;
    margin:0 auto;
    padding: 20px 0;
    p{
      float:left;
      margin-right:50px;
      &:last-child{
        margin-right:0;
      }
      a{
        margin-left:10px;
        color:#7EBBE6;
        margin-top: 10px;
        display: block;
        float: left;
        &:hover{
          color:rgba(126,187,230,0.8);
        }
      }
      img{
        float:left;
        border-radius: 50% 50%;
      }
      @media(max-width:767px){
        width:50%;
        margin-right:0;
        margin-bottom:25px;
      }
      @media(max-width:450px){
        width:100%;
      }
    }
  }
}
#block-menu-menu-footer-menu{
  background-color: white;
  .block-content{
    margin:0 auto;
    color:#7EBBE6;
    @media(min-width:768px){
      width: 750px!important
    }
    @media(min-width:992px){
      width: 970px!important;
    }
    @media(min-width:1200px){
      width:1170px!important;
    }
    ul{
      &.menu{
        padding:20px 0px;
        border-top:1px solid #EEEEEE;
      }
      li{
        ul{
          &.menu{
            padding: 0 0;
            border-width:0;
          }
        }
        color:#7EBBE6!important;
        a{
          color:#7EBBE6!important;
          &:hover{
            color:rgba(126,187,230,0.8);
          }
        }
        &.menu-depth-1{
          float:left;
          width:25%;
          margin: 0 0!important;
          span{
            display:none;
          }
          @media(max-width:767px){
            width: 50%;
            margin-bottom: 20px!important;
          }
          @media(max-width:657px){
            width:100%;
          }
        }
        &.menu-depth-2{
          span{
            display:block;
          }
        }
      }
    }
  }
}

.block-region-footer{
  &.block-5{
    display:block!important;
    width:100%!important;
    padding-bottom:0!important;
    .block-title{
      display:none;
    }
    .block-content{
      padding: 0 0!important;
      .container-fluid{
        .row{
          &.copyrights{
            background-color:#E4E4E4;
            color:#555555;
            .row{
              margin-top:20px;
              margin-bottom:20px;
              a{
                color:#7EBBE6!important;
                &:hover{
                  color:rgba(126,187,230,0.8);
                }
              }
              p{
                &:first-child{
                  margin-bottom: 0;
                  font-size: 13px;
                  a{
                    margin-left:10px;
                  }
                  span{
                    padding-left:10px;
                    padding-right:10px;
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* contact form */
.contact-content {
  .row{
    margin-top:30px!important;
    margin-bottom:30px!important;
  }
  h3 {
    text-align: center;
    color: #000000 !important;
  }
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  .left-description{
    p{
      max-width:300px;
      @media(max-width:600px){
        max-width:100%;
      }
    }
    a{
      color:#017dc5!important;
      &:hover{
        color:rgba(1,125,197,0.8);
      }
    }
  }
  .node-webform {
    .submitted{
      display:none;
    }
    .webform-client-form-4 {
      .webform-progressbar {
        display: none;
      }
      .form-item{
        width:50%;
        float:left;
        padding-right:15px;
        &.webform-component--what-service-are-you-writing-about, &.webform-component--comments{
          width:100%;
        }
        &.webform-component--province, &.webform-component--last-name, &.webform-component--telephone-number, &.webform-component--comments{
          padding-right:0;
        }
        label{
          width:100%;
          float:left;
          font-weight:500;
          font-size:14px;
          .form-required{
            color:#7DC047;
            //background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='5' cy='5' r='2.5' fill='#7DC047' /></svg>") no-repeat;
          }
        }
        select{
          width:100%;
          height:50px;
          &#edit-submitted-what-service-are-you-writing-about{
            width:50%;
            @media(max-width:600px){
              width:100%;
            }
          }
        }
        @media(max-width:600px){
          width:100%;
        }
        textarea, .form-text{
          max-width:100%;
        }
      }
      .form-actions{
        width:100%;
        float:left;
        .form-submit{
          background-color: #7DC047;
          background-image: none;
          border-width: 0;
          text-transform: uppercase;
          color: white;
          min-height: 45px;
          border-radius: 7px 7px;
          min-width: 170px;
          font-size: 14px;
          line-height: 20px;
          box-shadow:none;
          &:hover{
            background-color: rgba(125, 192, 71, 0.8);
          }
        }
      }
    }
  }
}

#block-system-main-menu {
  .menu {
    a {
      font-size: 15px;
      color: #26292D;
      margin: 0 15px;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-category ul li a,
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-menu-menu-by-brand ul li a,
.tb-megamenu .tb-megamenu-nav > li .tb-megamenu-submenu .mega-dropdown-inner #block-views-best-sellers-block ul li a {
  margin: 0 0;
}

html.js input.form-autocomplete {
  &:not(.throbbing) {
    &:active,
    &:focus {
      background-image: none;
    }
  }
  &.throbbing{
    background-image: url(../images/throbber-active.gif);
    background-position: 98% center;
  }
}

#search-block-form {
  position: relative;
}

.region-footer {
  h2 {
    &.block-title {
      display: none;
    }
  }
}

.single-product-page {
  padding-top: 60px;
  padding-bottom: 60px;
  .general {
    @media(max-width: 480px) {
      padding-top: 20px;
    }
    p {
      padding-bottom: 0px;
      font-size: 16px;
      color: #bb0628;
    }
    .uc-price{
      font-size: 38px;
      color: #404040;
      letter-spacing: 0;
      font-weight:700;
      &.discounted{
        color: #BB0628;
      }
    }
    .total-price{
      display:inline-block;
      .sell-price{
        padding-bottom: 0;
        font-weight:700;
        font-size: 38px;
        color: #BB0628;
        letter-spacing: 0;
        float:left;
        sup{
          font-size: 20px;
          font-weight: 500;
        }
      }
      .product-unit{
        float:left;
        font-weight:700;
        font-size: 14px;
        color: #8E8E93;
        letter-spacing: 0;
        text-transform: uppercase;
        padding-top: 25px;
        padding-left: 5px;
      }
    }

    .discount{
      padding-bottom: 30px;
      font-size: 14px;
      color: #8E8E93;
      letter-spacing: 0;
      font-weight: 500;
      span{
        font-size: 14px;
        color: #BB0628;
        letter-spacing: 0;
      }
    }
    .field-name-field-product-discount{
      .field-label{
        display:none;
      }
      .field-item{
        margin-bottom: 30px;
        font-size: 14px;
        color: #404040;
        letter-spacing: 0;
        line-height: 23px;
        p{
          margin-bottom: 30px;
          font-size: 14px;
          color: #404040;
          letter-spacing: 0;
          line-height: 23px;
        }
        ul,ol{
          margin-bottom: 20px;
          padding-left:0;
          li{
            list-style:none;
            font-size: 14px;
            color: #404040;
            letter-spacing: 0;
            line-height: 23px;
          }
        }
      }
    }
    .on-sale{
      margin-bottom:15px;
      span{
        background-color:#F4EC53;
        font-weight:700;
        padding:5px 5px;
        font-size: 12px;
        color: #404040;
        letter-spacing: 0;
      }
    }
    .product-price {
      padding-bottom: 10px;
      font-size: 24px;
      font-weight: 700;
    }
    .product-title{
      .sku{
        font-size: 14px;
        color: #8E8E93;
        font-weight:600;
        letter-spacing: 0;
      }
    }
    .stock-level{
      img{
        margin-bottom: -3px;
      }
      .in-stock{
        color:#308800;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0;
      }
      .out-stock{
        color:#bb0628;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0;
      }
    }
    .field-name-field-product-country-of-origin{
      font-weight:300;
      margin-bottom: 10px;
      .field-label{
        font-size: 14px;
        color: #8E8E93;
        letter-spacing: 0;
        float: none;
        display: inline-block;
        font-weight: 400;
      }
      .field-items{
        float: none;
        display: inline-block;
        font-weight: 400;
      }
      a{
        color: #0046BE;
        display: block;
        font-size: 14px;
        letter-spacing: 0;
        font-weight:300;
      }
    }
  }
  h1 {
    line-height: 38px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 32px;
    color: #404040;
    letter-spacing: 0;
  }

  .tab-details {
    margin-top: 48px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #ccc;
    .nav-pills {
      padding-top: 45px;
      li {
        border-bottom: 1px solid #ccc;
        &.open {
          > a {
            background-color: #fff;
          }
        }
        a {
          border-radius: 4px;
          padding: 12px 0 10px 0;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          color: #515151;
          border-bottom: 2px solid #fff;
          &:hover,
          &:focus {
            background-color: white;
            color: black;
            border-bottom: 2px solid #000;
            border-radius: 0;
          }
        }
        &.active {
          > a {
            background-color: white;
            color: black;
            border-bottom: 2px solid #000;
            border-radius: 0;
          }
        }
      }
    }
    .tab-content {
      border-left: 1px solid #CCC;
      padding-top: 55px;
      min-height: 400px;
    }
  }
  .exzoom_img_box {
    max-width: 100%;
    div, p {
      max-width: 100%;
    }
  }
  .exzoom_nav {
    max-width: 100%;
  }
  .add-to-cart{
    background-color: #EFEFF4;
    border: 1px solid rgba(151, 151, 151, 0.3);
    display: inline-block;
    padding: 40px 25px;
    margin-top: 25px;
    width: 100%;
    .form-group{
      margin-bottom:0;
    }
    .form-type-uc-quantity{
      float:left;
      margin-right:20px;
      label{
        display:none!important;
      }
      input{
        background: #FFFFFF;
        border: solid 1px #979797;
        border-radius: 5px;
        /* min-width: 106px; */
        min-height: 43px;
      }
    }
    .form-actions{
      float:left;
      clear:none;
      .uc_out_of_stock_throbbing{
        display:none;
      }
      input,button{
        background: #0046BE;
        min-height:43px;
        border-radius: 5px;
        min-width:189px;
        outline-width:0!important;
        text-transform:none;
        &:hover{
          background: #003da6;
          color:white;
        }
      }
    }
  }
}
.add-to-cart .form-control {
  width: auto !important;
}
.profile {
  padding: 55px 0;
  h3 {
    border-bottom: 1px solid #ccc;
    font-size: 1.4em;
  }
  dt {
    margin: 0.7em 0 0.2em 0;
    font-weight: bold;
  }
  dd {
    margin: 0.3em 0 1em 0;
    a {
      color: #00B4E5;
    }
  }
}

#user-login,
#user-register-form {
  padding: 80px 0;
  input {
    min-height: 40px;
    max-width: 500px;
    margin-top: 10px;
  }
}

.node-type-product {
  .sell-price {
    padding-bottom: 10px;
  }
  .uc-price {
    font-size: 24px;
    font-weight: 700;
  }
  .uc-price-label {
    display: none;
  }
  .product-breadcrumb{
    border-bottom:1px solid #D8D8D8;
    .breadcrumb{
      padding:25px 0;
      margin-bottom: 0;
      background-color:transparent;
      >li + li:before{
        padding: 0 5px;
        color: #404040;
        content: "\f054";
        font-family: FontAwesome, 'sans-serif';
        -webkit-text-stroke: 1px white;
        font-size: 14px;
        font-weight: bold;
      }
      li{
        a {
          font-weight: 400;
          font-size: 14px;
          color: #0046BE;
          letter-spacing: 0;
        }
      }
    }
  }
}

#uc-cart-view-form {
  td {
    &.qty {
      min-width: 65px;
    }
  }
}

.category-page {
  .list-description {
    padding: 40px 15px;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    @media(max-width: 480px) {
      padding: 25px 15px;
      margin-top: 30px;
    }
  }
  .product-details {
    @media(max-width: 480px) {
      padding-top: 15px;
    }
    .title {
      a {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  .product-features {
    padding-top: 15px;
    ul {
      @media(max-width: 480px) {
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
  .product-buy {
    .price {
      font-size: 2rem;
      font-weight: 800;
      padding-bottom: 15px;
    }
  }
}


.category-list {
  margin-top: 50px;
  @media(max-width: 480px) {
    margin-top: 30px;
  }
  ul {
    padding-top: 25px;
    li {
      padding-bottom: 10px;
      a {
        font-weight: 400;
      }
    }
  }
  h2 {
    &.block-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.view-best-sellers {
  .row {
    .col-sm-4 {
      padding-bottom: 25px;
    }
  }
}


.account-dropdown {
  a {
    font-size: 14px;
  }
}
.region-sidebar-first
{
  &.well {
    padding: 0;
    background: 0;
    border: none;
    box-shadow: none;
    @media(max-width:767px){
      display: none;
    }
    .block-title{
      font-weight: 600;
      font-size: 14px;
      color: #404040;
      letter-spacing: 0;
      margin-bottom:10px;
      a{
        color: #404040;
      }
    }
    ul {
        &.menu {
          padding: 0;
          li {
            padding-top:4px;
            font-size: 14px;
            a{
              font-size: 14px;
              color: #0046BE;
              letter-spacing: 0;
              line-height: 26px;
              padding: 0 0;
            }
            .menu{
              padding-left:10px;
            }
          }
        }
    }
    .block{
      margin-bottom: 20px;
    }
  }
}

/* catalog specific */
.page-catalog,.page-taxonomy{
  #content-column{
    padding-top:50px;
    background-color:#F7F7FA
  }
  .catalog-breadcrumb{
    .breadcrumb{
      padding:10px 0 30px 0;
      margin-bottom: 0;
      background-color:transparent;

      >li + li:before{
        padding: 0 5px;
        color: #404040;
        content: "\f054";
        font-family: FontAwesome, 'sans-serif';
        -webkit-text-stroke: 1px white;
        font-size: 14px;
        font-weight: bold;
      }
      li{
        a {
          font-weight: 400;
          font-size: 14px;
          color: #0046BE;
          letter-spacing: 0;
        }
      }
    }
  }
  .category-page--title{
    margin-top: 20px;
    font-weight:600;
    font-size: 28px;
    color: #404040;
    letter-spacing: 0;
  }
  .catalog-filters{
    margin-bottom:20px;
    .views-exposed-form{
      .views-exposed-widget{
        float:right;
        label{
          display:none;
        }
        select{
          border: 1px solid #D1D1D6;
          font-size: 14px;
          color: #404040;
          letter-spacing: 0;
          height: 45px;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
.node-type-page, .node-type-article{
  #content-column{
    padding-top: 50px;
    .page-header{
      margin-top:0;
    }
  }
}
.view{
  &.view-uc-catalog,&.view-taxonomy-term{
    .view-content{
      > .row{
        border-width: 0;
      }
      .views-bootstrap-grid-plugin-style{
        > .row{
          > div {
            margin-bottom: 40px;
            background-color: white;
            border: solid 1px #ddd;
          }
        }
      }
    }
    .row{
      .product-first{
        padding:30px 0;
        .on-sale{
          text-align: right;
          top: 30px;
          position: absolute;
          right: 0;
          span{
            background-color: #F4EC53;
            font-weight: 700;
            padding: 5px 5px;
            font-size: 12px;
            color: #404040;
            letter-spacing: 0;
          }
        }
      }
      .product-middle{
        text-align:left;
        h2{
          font-size: 20px;
          line-height: normal;
          font-weight: 600;
          padding-top: 10px;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 10px;
          a{
            font-size: 24px;
            color: #404040;
            letter-spacing: 0;
            font-weight:300;
          }
        }
        h3{
          font-size: 12px;
          text-transform: uppercase;
          color: #555;
          font-weight: 700;
          margin-top: 20px;
          margin-bottom: 10px;
          text-align:left;
        }
        ul{
          list-style: none;
          position: relative;
          color: #444;
          padding: 2px 2px 2px 24px;
          font-size: 12px;
          text-align:left;
          li{
            list-style: none;
            position: relative;
            color: #444;
            padding: 2px;
            font-size: 12px;
            &:before{
              content: " ";
              background: url(/sites/all/themes/roroi_bootstrap/images/checkbox.png) no-repeat;
              height: 13px;
              width: 13px;
              display: block;
              position: absolute;
              left: -20px;
              top: 5px;
            }
          }
        }
        .price{
          font-size: 24px;
          color: #BB0628;
          letter-spacing: 0;
          font-weight: 700;
          sup{
            font-size: 14px;
            color: #BB0628;
            letter-spacing: 0;
          }
        }
        .price-no-discount{
          font-weight: 700;
          font-size: 24px;
          color: #404040;
          letter-spacing: 0;
          sup{
            font-size: 14px;
            color: #404040;
            letter-spacing: 0;
          }
        }
        .left-details-general{
          float:left;
          width:100%;
          padding-right: 10px;
          .display_price{
            float:left;
            font-weight:700;
            font-size: 14px;
            color: #8E8E93;
            letter-spacing: 0;
            margin-top:10px;
          }
          .list_price_save{
            float:left;
            margin-left:5px;
            font-weight:700;
            font-size: 14px;
            color: #BB0628;
            letter-spacing: 0;
            margin-top:10px;
          }
          .stock-level{
            width:100%;
            float:left;
            margin-top:15px;
            margin-bottom:30px;
            img{
              margin-bottom: -3px;
            }
            .in-stock{
              color:#308800;
              font-weight: 700;
              font-size: 14px;
              letter-spacing: 0;
            }
            .out-stock{
              color:#bb0628;
              font-weight: 700;
              font-size: 14px;
              letter-spacing: 0;
            }
          }
          .discount{
            font-size: 14px;
            color: #404040;
            letter-spacing: 0;
            line-height: 23px;
            width:100%;
            float:left;
            margin-top:15px;
            ul,ol{
              padding-left:0;
              li{
                list-style:none;
                font-size: 14px;
                color: #404040;
                letter-spacing: 0;
                line-height: 23px;
                &:before{
                  display:none;
                }
              }
            }
          }
        }
        .right-details-discount{
          float:left;
          width:50%;
          padding-left: 10px;
          font-size: 14px;
          color: #404040;
          letter-spacing: 0;
          line-height: 23px;
        }
      }
      .product-last{
        background: #f9f9f9;
        border-left: solid 1px #ddd;
        padding-bottom: 20px;
        font-size: 13px;
        text-align:left;
        .corner{
          width: 0;
          height: 0;
          border-top: 50px solid #fc0;
          border-bottom: 50px solid transparent;
          border-left: 50px solid transparent;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 99;
          span{
            position: absolute;
            top: -43px;
            width: 50px;
            right: -10px;
            text-align: center;
            font-size: 11px;
            transform: rotate(45deg);
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
        //.display_price{
        //  font-size: 22px;
        //  color: red;
        //  margin: 30px 0 0;
        //  font-weight: 700;
        //}
        //.list_price_save{
        //  color: red;
        //  font-weight: 700;
        //  font-size: 11px;
        //  text-transform: uppercase;
        //}
        //.sale_price{
        //  color: #7eab3a!important;
        //  font-weight: 700;
        //  display: block;
        //  padding-top: 20px
        //}
        .node-add-to-cart, button#edit-checkout--2 {
          border: none;
          padding: 9px 35px 9px 25px;
          color: #fff;
          background-color: #003b64;
          border-color: #003b64;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          position: relative;
          &:after {
            content: " ";
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url(/sites/all/themes/roroi_bootstrap/images/right-arrow.png) no-repeat;
            top: 13px;
            position: absolute;
            right: 5px;
          }
          .glyphicon{
            display:none;
          }
        }
      }
      label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }
      .form-control {
        width: auto;
      }
      .uc_out_of_stock_html{
        display:none;
      }
      .uc_out_of_stock_throbbing {
        display: none;
      }
      .add-to-cart-row{
        border-top: 1px solid #D8D8D8;
        padding-top: 15px;
        padding-bottom: 15px;
        .form-type-uc-quantity{
          float:left;
          margin-right:20px;
          margin-bottom:0;
          label{
            display:none!important;
          }
          input{
            background: #FFFFFF;
            border: solid 1px #979797;
            border-radius: 5px;
            min-height: 43px;
          }
        }
        .form-actions{
          float:left;
          clear:none;
          .uc_out_of_stock_throbbing{
            display:none;
          }
          input,button{
            background: #0046BE;
            min-height:43px;
            border-radius: 5px;
            min-width:189px;
            outline-width:0!important;
            text-transform:none;
            &:hover{
              background: #003da6;
              color:white;
            }
          }
        }
      }
    }
  }
}
.form-item-panes-payment-payment-method{
  font-size: 15px;
  img{
    max-width: 22px;
    display: inline-block;
  }
}
.form-item{
  &.form-item-panes-payment-payment-method{
    &.form-type-radio{
      &.radio{
        margin-bottom: 20px;
      }
    }
  }
}
.description {
  font-size: 13px;
  font-style: italic;
  color: #555;
}
#quotes-pane button, #quotes-pane .help-block {
  display: none;
}
.content-inner {margin-bottom: 40px;}
button#edit-continue, button#edit-checkout--2, button#edit-submit, button.node-add-to-cart  {
  background-color: #7cc047;
  border-width: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.order-review-table{
  max-width: 550px;
  margin-bottom: 40px;
  .data-col {
    padding: 10px 0 10px 20px;
  }
  .title-col {
    padding: 10px 0;
  }
}
.page-search{
  .search-results{
    .search-result{
      .search-info{
        //display:none;
      }
    }
  }
}
.page-catalog{
  .catalog-description{
    margin-bottom:20px;
  }
}
ul {
  li {
    .collapsed,.expanded, .leaf {
      list-style: none;
    }
  }
  &.tabs--primary{
    padding: 0;
  }
}

.exzoom{
  .exzoom_img_box{
    background: #fff !important;
  }
}

.display_price{
  &.reg_price{
    color: #333 !important;
  }
}

@media only screen and (max-width:600px){
  .uc-store-address-field {
    .form-item{
      label{
        text-align: left;
      }
    }
  }
  #line-items-div{
    float:none;
  }
}
.has-feedback{
  label{
    &~.form-control-feedback{
      top:37px;
    }
  }
}
#user-login, #user-register-form {padding: 0;}

.seo-shipping{
  font-size:14px;
  p{
    margin: 15px 0 30px 0;
  }
  h3{
    font-size: 15px;
  }
}
.attachment {
  .views-field-description {
    padding: 0 0 40px 0;
    color: #404040;
  }
}

.catalog-body{
  font-size: 14px;
  margin-bottom: 20px;
  color: #777;
  h2{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px; color: #404040;
  }
  h3{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
    color: #404040;
  }
  p{
    margin-bottom: 10px;
  }
  ul{
    margin-bottom: 10px;
  }
}

.tab-details{
  p{
    margin-bottom: 20px;
    font-size: 15px;
    color: #404040;
    line-height: 1.7;
  }
}

.catalog-description{
  h2{
    margin-bottom: 20px;
  }
}

.view-uc-catalog-terms{
  select{
    display: inline-block;
    float: right;
    width: auto;
    margin-bottom: 20px;
  }
}

.toboggan-unified {
  max-width: 500px;
  margin: 0 auto;
  border: solid 1px #ddd;
  background: #f8f8f8;
  padding: 30px;
  #login-links {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.7;
    border-bottom: solid 1px #ddd;
    margin-bottom: 30px;
    a {
      padding: .5em;
      border: none;
      background-color: none;
      font-size: 16px;
      &.lt-active, &.lt-active:hover {
        background-color: none;
        border: none;
        color: #404040;
      }
    }
  }
}
.logo-img {
  margin-top: 10px;
}

article{
  h2{
    font-size:20px;
  }
  p,h2,h3{
    margin: 20px 0;
  }
  header {
    font-size: 13px;
    font-style: italic;
    color: #888;
  }
}

.shop-block{
  background-color: #003DA6;
  color:white;
  font-family: "Helvetica Neue",'sans-serif';
  min-height:362px;
  h4{
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 33px;
  }
  p{
    font-size:16px;
    line-height: 28px;
  }
  .button{
    background-color: white;
    font-size: 14pt;
    color: #0046BE;
    font-weight: bold;
    font-family: 'Helvetica', 'sans-serif';
    border-radius: 5px 5px;
    width: 137px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
  }
  img{
    max-width:100%;
    height: auto;
  }
}
.searches-sellers{
  background-color: #E5E5EA;
  min-height: 362px;
  font-family: 'Helvetica Neue','sans-serif';
  padding-top:30px;
  padding-left:30px;
  .col-sm-12{
    padding-bottom:50px;
    .title{
      float: left;
      margin-right: 30px;
      width:200px;
      h4 {
        font-size: 22px;
        font-weight: bold;
        line-height: 36px;

      }
    }
    ul{
      float:left;
      list-style:none;
      padding-top:10px;
      li{
        color: #007AFF;
        font-size:14px;
        line-height:16px;
        font-weight:normal;
        width:100%;
        float:left;
      }
    }
  }
}
